@import "partials/abstract";

.dash {

  &-content{
    .content-section{

      .content-section-graphic-image-link{
        @include trans;
        display: block;
        &:hover{
          transform: translateY(-4px);
        }
      }
      &-title-wrapper{
        /* Dash is productive: */
        font-size: 38px !important;
        color: #506784;
        line-height: 46px !important;
      }
      p{
        font-size: 22px !important;
        line-height: 36px !important;
      }
    }
  }

  &-header {
    &-wrapper {
      @include global-wrapper;
      display: flex;
      justify-content: space-between;
      width: 100%;

    }
  }
  &-navigation {
    display: flex;

    padding-top:$gutter;


    @include media('<=600px'){
      flex-direction: column;
      padding-top:0;
      text-align: right;
    }
    &-item {
      color: white !important;
      text-decoration: none !important;
      background-image: none !important;
      text-transform: uppercase;
      letter-spacing:2px;
      padding-left:$gutter;
      white-space:nowrap;
      @include trans;
      text-shadow: $text-shadow-default;
      &:hover{

        @include media('>600px'){
          transform: translateY(-4px);
          cursor: pointer;
        }
      }
    }
  }

  &-hero {
    background: linear-gradient(0deg, #3B9ACA 0%, #2D6CA5 39%, #222654 100%) !important;
    .hero-top {
      padding-top: 0;
      &-wrapper{
        display: flex !important;
      }
    }

    .buttons{
      width: 100%;
    }

    @include media('<=900px') {
     .buttons{
       flex-direction: column;
       .button{
         width: 100%;
         margin-left:0;

         & + .button{
           margin-top:$gutter;
         }
       }
     }
    }
    @include media('<=800px') {
      .hero-actions{
        justify-content: center;
      }
      .hero-top-wrapper {
        flex-direction: column !important;

        .dash-graphic {
          transform: none !important;
          padding-bottom: $gutter*4;
          padding-top: 0;
        }
      }
    }
  }

  &-graphic {
    padding-top: $gutter*4;
  }

  &-graphics {
    padding-top: $gutter;
    display: flex;
    transform: translateY(60px);
  }

  &-logo {
    width: 100%;
    &-wrapper {
      padding-bottom: $gutter*3;
    }
    img {
      max-width: 177px;
    }
  }

  &-section {

    p {
      font-size: 22px;
      color: #516783;
      line-height: 36px;
    }

    &-productive {
      .content-section-wrapper {
        transform: translateY(60px);
        z-index: 9;
        position: relative;
      }
    }

    &-features-thirds {
      background-image: linear-gradient(0deg, #3B9ACA 0%, #2D6CA5 39%, #222654 100%) !important;

      padding-top: $gutter*2;
      transform: translateY(-120px);

      @include media('<=900px'){
        transform: none;
      }

      @include tablet {
        padding-bottom: $gutter*4;
      }

      .content-section-wrapper {
      }
      .content-section-pane-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .icon {
          max-width: 72px;
          img {
          }
        }
        .title { /* Lightweight: */
          font-family: "Dosis", sans-serif;
          font-weight:300;
          font-size: 28px;
          color: #FFFFFF;
          letter-spacing: 0;
          line-height: 21px;
          margin-top: $unit;
        }
        p {
          /* Dash provides a dire: */
          font-size: 16px !important;
          color: #FFFFFF;
          max-width:100%;
          line-height: 26px !important;
        }
      }

    }

    &-dash-apps {
      background: url("https://images.plot.ly/static/marketing/dash/section-bg-demos@2x.png") center top !important;
      transform: translateY(-120px);
      padding-top: 0px;
      background-size: cover !important;
      padding-bottom: 0 !important;
      .content-section-wrapper {
        padding-bottom: 0;
        transform: translateY(80px);
      }
    }


    &-more-details{
      .cards.stories{
        align-items: flex-start;

      }
    }

    &-open-source {
      background: url("https://images.plot.ly/static/marketing/dash/section-open-source-bg.png") center top !important;
      background-size: cover !important;
      .content-section-title-wrapper {
        color: white;
      }
      p {
        color: white !important;
        font-size: 22px !important;
        line-height: 36px !important;
        font-weight: 100 !important;
      }
    }
  }
}

pre {
  text-align: left;
  font-family: monospace;
  color: #7FDBFF;
  background-color: #444;
  padding: 15px;
  overflow-y: scroll;
  max-height: 500px;
  float: right;
  font-size: 0.8rem;
}

.card.card-with-image {
  display: flex !important;

  .card-wrapper {
    flex: 1;
  }
  .card-body {
    //flex: 1;
  }
}