
.title{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.quotesTable{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
}

.logo {
    border-right: 10px solid lightgrey;
}

.cell {
    padding-left: 24px;
}

.author {
    padding-top: 24px;
    text-align: right;
    font-style: italic;
}

.author::before {
    content: "— ";
}

