@import "partials/abstract";

.hero {
  @include backgroundWithDots;
  display: flex;
  padding-top: 72px;

  &-wrapper {
    position: relative;
    z-index: 2;
    @include global-wrapper;
  }
  &-home {

    color: white;
    overflow: hidden;
    position: relative;

    &:after {
      background: url("https://images.plot.ly/plotly-marketing-pages/images/new-branding/illustrations/heroes/hero-home@2x.png") 20% 100% no-repeat !important;
      background-size: cover !important;
      @include handheld {
        background-position: 56% 100% !important;
        background-size: 1900px !important;

      }
    }

    video {
      display: none;
      position: absolute;
      bottom: -3%;
      left: 0;
      height: 110%;
      z-index: 1;
      @include animationFadein-med();
      //opacity:0.5;
    }

    .hero {
      &-message {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: $unit;
        h1 {
          color: white;
          font-size: 3.5rem;
          @include center-content;
          margin-bottom: $gutter;

          @include handheld {
            font-size: 3rem;
          }
        }
        h2 {
          max-width: 520px;
          @include center-content;
          color: white;
          font-weight: 300;
          font-size: 1.25rem;
          line-height: 2rem;
          font-family: 'Open Sans', sans-serif;
          margin-bottom: $gutter;

          @include handheld {
            letter-spacing: 0.5px;
            line-height: 1.75rem;
          }
        }
      }
      &-top {
        &.flex {
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          @include handheld-up {
            min-height: 700px;
          }
        }

        opacity: 0;
        @include animationFadeAndSlideInFromTop-sm;
        animation-delay: 1s;

        @include handheld {

          //min-height: 100vh;
          padding-bottom: $gutter*2;
          .hero-message {
            padding-top: $gutter*2;
            //transform: translateY(-30px);
          }
        }
      }
      &-bottom {
        padding-bottom: $gutter*2;
        padding-top: $gutter*4;

        @include handheld {

          padding-top: $gutter*4;
        }
      }

      &-actions {
        .buttons {
          @include handheld {
            flex-direction: column;
          }
        }
      }
    }

    .footnote {
      text-align: center;
      font-size: 0.85rem;
      color: $color-rhino-medium-1;
      margin-top: $gutter;
      @include handheld {
        margin-top: $gutter*2;
      }
      a {
        color: currentColor;
        text-decoration: underline;
        &:hover {
          color: white;
          text-decoration: none;
        }
        &:active {
          @include active-state-transform;
        }
      }
    }
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

}

.hero-top-padding {
  padding-top: $unit*6;
  padding-bottom: 260px;
}

