.grid {
  width: 100%;
  &.layout {
    &-align {
      &-center {
        @at-root .grid {
          &-wrapper {
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  &-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &-item {
    @include tablet {
      min-width: 200px;
    }
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &-graphic {
      width: 90px;
    }
    &-label {
      padding-top: $unit;
      font-size: 1rem;
      text-align: center;
    }
  }
}

.small-logos {
  .grid-item-avatar {
    min-width: 120px;
    max-width: 140px;
  }
}
