{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": false,
          "debug": false,
          "useBuiltIns": "usage",
          "targets": {
            "browsers": [
              "Explorer 11",
              "Explorer 10",
              "Chrome 41",
              "last 2 Chrome versions",
              "last 2 ChromeAndroid versions",
              "last 2 Edge versions",
              "last 2 Firefox versions",
              "last 2 FirefoxAndroid versions",
              "last 2 iOS versions",
              "last 2 Opera versions",
              "last 2 Safari versions"
            ]
          }
        }
      }
    ]
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "static": "./static",
          "config": "./config",
          "store": "./store",
          "lib": "./lib",
          "styles": "./styles"
        }
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ]
  ],
  "ignore": []
}
