.content-section-p {
  $c: &; // sets this classname to a variable omg

  // This will style the text the same way with all
  // content section styles that have a gradient background
  // all of the gradients are dark, so the text will be lighter
  &[class*='style--gradient'],
  &[class*='style--graphic_blue'],
  &[class*='style--black'] {
    #{$c}-title {
      h1,
      h2,
      h3 {
        color: white !important;
      }
    }

    #{$c}-pretitle {
      h3 {
        color: white !important;
        opacity: 0.5 !important;
      }
    }
    #{$c}-subtitle {
      h3 {
        color: white !important;
        opacity: 0.65 !important;
      }
    }
    #{$c}-body {
      p,
      ul,
      ol,
      blockquote,
      pre,
      code {
        color: white !important;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: white !important;
      }

      ul {
        border-color: rgba(black, 0.5) !important;
        &::before,
        &::after {
          mix-blend-mode: multiply;
          opacity: 1 !important;
        }
      }
    }
  }

  &-style {
    &--graphic {
      &_dash_controls {
        background: #ffffff
          url(https://prismic-io.s3.amazonaws.com/plotly%2F28313a8f-0803-4100-8a7d-666c2da9c909_section-bg-demos%402x.jpeg)
          center top no-repeat !important;
        background-size: 1290px !important;
        @include media('<=800px') {
          padding-top: $unit * 6;
        }
      }
      &_react {
        background: #ffffff
          url(https://prismic-io.s3.amazonaws.com/plotly%2F8963b92f-cd9b-4f34-95d1-92989b2b1797_plotly_d16f43ac-de73-4e78-aad4-2146dbe0da4b_plotly-react-banner-visual%402x.png)
          center top no-repeat !important;
        background-size: 1290px !important;
        @include media('<=800px') {
          padding-top: $unit * 6;
        }
      }

      &_whitelabel {
        background-color: white !important;
        background-image: url(https://prismic-io.s3.amazonaws.com/plotly%2Fedfd4f7d-905a-4ce5-9080-3676ad7c6046_plotly_69dfc2a2-587a-45bf-ba32-d9e077bb0224_embed_on_prem.svg) !important;
        background-position: 60% top;
        background-size: 1330px !important;
        background-repeat: no-repeat;

        @include media('<=1150px') {
          background-position: 170% -120%;
          background-size: 960px !important;
        }
        @include media('<=1050px') {
          background-position: 180px 130px !important;
        }
        @include media('<=800px') {
          background-position: 10px -60px !important;
        }
      }
      &_white_dotted-lines {
        background: url(https://prismic-io.s3.amazonaws.com/plotly%2Fd5da3072-2eab-4147-8fc5-900945417e07_f79d5a70-1490-4c90-9eef-cc44cd8e3bff_bg-graph.svg)
          center center no-repeat !important;
        background-size: cover !important;
      }
      &_blue_pipes {
        a {
          &:link,
          &:visited {
            color: $color-aqua !important;
          }
          &:hover {
            color: $color-aqua-shade !important;
          }
        }
        background-position: bottom center !important;
        background-image: url(https://prismic-io.s3.amazonaws.com/plotly%2F76ae8df7-d30a-4e9d-8e37-6e8a814b45c9_f37440b0-c340-40a3-835c-dcbd43a5f6dd_pipes.png),
          linear-gradient(135deg, #1d8ee8 40%, #1e427d 150%) !important;
        background-size: cover !important;
        // Style the buttons a different way for this one
        #{$c}-actions {
          .button {
            &-primary {
              background: $color-emerald;
              &:hover {
                background: darken($color-emerald, 8%);
              }
            }
            &-secondary {
              border-color: white;
              color: white !important;
              &:hover {
                background: white;
                color: $color-dodger !important;
              }
            }
          }
        }
      }
    }

    &--black {
      background: #000000 !important;
      a {
        &:link,
        &:visited {
          color: $color-emerald !important;
        }
        &:hover {
          color: $color-aqua-shade !important;
        }
      }
      #{$c}-actions {
        .button {
          &-primary {
            background: $color-emerald;
            &:hover {
              background: darken($color-emerald, 8%);
            }
          }
          &-secondary {
            border-color: white;
            color: white !important;
            &:hover {
              background: white;
              color: $color-dodger !important;
            }
          }
        }
      }
    }
    &--gradient {
      &_purple {
        background: linear-gradient(135deg, #7e6fdc 15%, #6b5dca 100%) !important;
        p {
          a {
            &:link,
            &:visited {
              color: $color-aqua-shade !important;
            }
            &:not(.button):not(.nav-item-wrapper):not(.card):not(.navigation-product-item):hover:not(.card-action-link) {
              &:hover {
                color: lighten($color-aqua-shade, 8%) !important;
              }
            }
          }
        }
        h1,
        h2,
        h3,
        p {
          color: white !important;
        }
        #{$c}-actions {
          .button {
            &-primary {
              background: $color-aqua-shade;
              &:hover {
                background: darken($color-aqua-shade, 8%);
              }
            }
            &-secondary {
              border-color: white;
              color: white !important;
              &:hover {
                background: white;
                color: $color-dodger !important;
              }
            }
          }
        }
      }
      &_dark-blue {
        background-image: linear-gradient(0deg, #3b9aca 0%, #2d6ca5 39%, #222654 100%) !important;
        a {
          &:link,
          &:visited {
            color: $color-emerald !important;
          }
          &:not(.button):not(.nav-item-wrapper):not(.card):not(.navigation-product-item):hover:not(.card-action-link) {
            &:hover {
              color: darken($color-emerald, 8%) !important;
            }
          }
        }
        #{$c}-actions {
          .button {
            &-primary {
              background: $color-emerald;
              &:hover {
                background: darken($color-emerald, 8%);
              }
            }
            &-secondary {
              border-color: white;
              color: white !important;
              &:hover {
                background: white;
                color: $color-dodger !important;
              }
            }
          }
        }
      }
      &_blue {
        background-image: linear-gradient(135deg, #1d8ee8 40%, #1e427d 150%) !important;

        a {
          &:link,
          &:visited {
            color: $color-aqua !important;
            font-weight: bold !important;
          }
          &:hover {
            color: $color-aqua-shade !important;
          }
        }
        #{$c}-actions {
          .button {
            &-primary {
              background: $color-emerald;
              &:hover {
                background: darken($color-emerald, 8%);
              }
            }
            &-secondary {
              border-color: white;
              color: white !important;
              &:hover {
                background: white;
                color: $color-dodger !important;
              }
            }
          }
        }
      }
    }
  }
}
