.content-section-p {
  $c: &;

  overflow: hidden;

  &-wrapper {
    @include global-wrapper;
    display: flex;
    position: relative;
    flex-wrap:wrap;
    $tb-spacing: $unit*4;

    #{$c}-area {
      padding-top: $tb-spacing;
      padding-bottom: $tb-spacing;
    }
    min-height: 60vh;

    @include media('>800px') {
      padding-left:$unit*4;
      padding-right:$unit*4;
      min-height: 740px;
      $tb-spacing: $unit*10;
      #{$c}-area {
        padding-top: $tb-spacing;
        padding-bottom: $tb-spacing;
      }
    }
  }

  #{$c}-details {
    position: relative;
    z-index:99;
  }

  &:nth-of-type(odd) {
    background-color: $color-rhino-light-4;
  }

  &-area {
    flex-grow: 1;
  }

  #{$c}-actions {
    padding-top: $unit*2;
  }

  .github-stars{
    width: 100%;
    @include global-wrapper;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:$unit*4;
    & ~ .content-section-p-area{

      padding-top:$unit*4 !important;
    }
  }

}

@import "content-section.column";
@import "content-section.row";
@import "content-section.graphic";
@import "content-section.styles";
@import "content-section.typography";

