.content-section-p {
  $c: &; // sets this classname to a variable omg
  #{$c}-graphic {
    @include media('<=800px'){
      padding-top:0;
    }
    &-style {

      &--bleed {
        //position: relative;
        //min-height: 600px;
        //.image {
        //  position: absolute;
        //  top: -120px;
        //  right: 0;
        //  width: 50vw;
        //  max-width: 900px;
        //}

      }
      &--shadow {
        .image {
          box-shadow: $drop-shadow-l-light;
        }
      }
    }

    &-slides {
      display: flex;
      flex-wrap: wrap;
      .content-section-p-graphic-item {
        flex-grow: 1;
        width: calc(50% - #{$unit*2});

        @include media('<=800px'){
          width: 100%;
          margin-bottom:$unit*2;
        }

        @include media('>800px'){
          //width: 50%;
          &:not(:first-of-type):not(:nth-of-type(2)) {
            margin-top: $unit*2;
          }
          &:nth-of-type(odd) {
            margin-right: $unit*2;
          }
        }

      }
    }
  }
}