// @import "partials/abstract";

.pricing-cards {
  //background: $color-rhino-light-4;
  position: relative;
  z-index: 9;

  &-wrapper {
    display: flex;
    flex-direction: column;
    transform: translateY(-50px);
    position: relative;
    z-index: 2;

    &.mobile-only {
      display: flex;

    }

    &.desktop-only {
      display: none;
      @include desktop {
        display: flex !important;
      }
    }
  }

  &-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .pricing-cards {
      &-headers,
      &-bodies,
      &-feature-lists {
        display: block;
        &-wrapper {
          display: flex;
          flex-grow: 1;
          justify-content: space-between;
          @include global-wrapper;
          align-items: flex-start;
        }
        &-item {
          $width: calc(100%);
          //flex-grow: 1;
          max-width: $width;
          width: $width;
          min-width: $width;

          &:nth-of-type(3) {
            transform: translateY(-40px);
            //border: 2px solid $color-emerald;
          }
        }
      }
    }

    @include tablet {
      display: none;
    }
  }

  &.thirds {
    .pricing-cards {
      &-headers,
      &-bodies,
      &-feature-lists {

        &-item {
          @include desktop {
            $width: calc(33.333333% - 10px);
            max-width: $width;
            width: $width;
            min-width: $width;
          }

        }
      }
    }
  }

  &-headers,
  &-bodies,
  &-feature-lists {
    display: block;
    &-wrapper {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      @include global-wrapper;
      align-items: flex-start;
    }
    &-item {
      $width: calc(33.3333% - 10px);
      max-width: $width;
      width: $width;
      min-width: $width;

      &:nth-of-type(3) {
        //transform: translateY(-40px);
        //border: 2px solid $color-emerald;
      }
    }
  }

  &-headers {
    &-wrapper {

    }
    &-item {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $color-rhino-core;
      padding: $unit;
      border-top-right-radius: $unit/2;
      border-top-left-radius: $unit/2;
      text-transform: uppercase;
      letter-spacing: 4px;
      color: white;
      border-bottom: 0 !important;
      //overflow: hidden;
      //border:1px solid $color-rhino-medium-2;
      //border-bottom:0;
      position: relative;
      z-index: 4;

      &:nth-of-type(3) {

        background: $color-emerald;
      }
      &-message {
        position: absolute;
        top: calc(-230%);
        left: 0;
        z-index: -1;
        width: 100%;
        height: 120px;
        //background: lighten($color-rhino-core, 8%);
        //border-top-right-radius: $unit/2;
        //border-top-left-radius: $unit/2;
        padding: $unit;
        font-size: 1rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        @include media('<=800px') {
          display: none !important;
        }

        &-text {
          font-size: 0.85rem;
          text-transform: capitalize;
          letter-spacing: 0;

          &.message-action {
            @include trans;
            &:hover {
              cursor: pointer;
              transform: translateY(-3px)
            }
          }
          * {
            color: white !important;
          }
          a {
            opacity: 0.75;
            background-image: none !important;
            color: white !important;
            &:hover {
              opacity: 1;
              * {
                color: white !important;
              }
            }
            &:hover {
              color: white !important;
            }
          }
        }
      }
      &-text {
        //@include animationFadeAndSlideInFromTop-sm;
      }
    }
  }

  &-bodies {
    //background: $color-rhino-light-2;
    &-wrapper {
      display: flex;
    }
    &-item {
      border-bottom: 0 !important;
      border-top: 0 !important;

      background: white;
      flex-grow: 1;
      display: flex;
      box-shadow: $drop-shadow-l-light;
      //border:1px solid $color-rhino-medium-2;
      border-top: 0;
      border-bottom: 0;
      &-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: $unit;
      }
      &-content {
        flex-grow: 1;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-bottom: $unit;
        .notes {
          font-size: 0.85rem;
          color: $color-rhino-medium-1;
          padding-top: $unit;
          strong {
            font-weight: 600;
            color: $color-rhino-dark;
          }
        }
        .price {
          flex-grow: 1;
          padding: $gutter 0;
          font-size: 3.7rem;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-family: 'Dosis', sans-serif;
          display: flex;
          align-items: center;
          justify-content: center;
          .usd {
            font-weight: 100;
            color: $color-rhino-dark-1;
            opacity: 0.75;
          }
        }
      }
      &-actions {
        padding-bottom: $unit;
        //padding-top:$unit;
        align-items: center;
        justify-content: center;

      }
    }
  }

  &-feature-lists {
    //position: relative;
    //z-index: 3;
    &-wrapper {

    }
    &-item {
      border-top: 0 !important;

      flex-grow: 0;
      overflow: hidden;
      background: white;
      box-shadow: $drop-shadow-l-light;
      //border: 1px solid lighten($color-rhino-medium-2, 4%);
      border-top: 0;
      border-bottom-right-radius: $unit/2;
      border-bottom-left-radius: $unit/2;

      &-value {
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: $unit $gutter*1.75;
        text-align: center;
        display: flex;
        align-items: center;
        min-height: 128px;
        position: relative;

        &:first-of-type {
          background: whitesmoke;
          border: 1px solid lighten($color-rhino-medium-2, 6%);
          border-left: 0;
          border-right: 0;
          min-height: 28px;
          &::before {
            display: none;
          }
        }
        &::before {
          content: '';
          position: absolute;
          top: 100%;
          width: calc(100% - #{$gutter*2});
          left: $gutter;
          border-bottom: 1px solid lighten($color-rhino-medium-2, 4%);
        }
        &:nth-of-type(2) {
          min-height: 102px;
        }
        &:nth-of-type(odd) {
          //background: $color-rhino-light-2;
        }
      }

    }
  }
}

.on-prem-pricing-cards {
  display: flex;

  @include media('<=1000px') {
    display: block;
    .pricing-card-single {
      width: 100%;
      min-width: 100%;
    }
  }
  .pricing-card-single {
    flex-grow: 1;
  }
}

.pricing-card-single {
  flex-grow: 1;
  width: 25%;
  padding: $unit;
  min-width: 180px;

  &.full-width {
    //width: 100%;
    //min-width: 100%;

    .pricing-cards {
      &-headers,
      &-bodies,
      &-feature-lists {
        &-wrapper {
          padding: 0;
        }
        &-item {
          $width: calc(100%);
          max-width: $width !important;
          width: $width !important;
          min-width: $width !important;
        }
      }
      &-feature-lists {
        &-wrapper {
          display: flex;
          width: 100%;
          flex-direction: row;
        }
        &-item {
          &-wrapper {
            display: flex;
            flex-wrap: wrap;
          }
        }
        &-item-value {
          &:not(:first-of-type) {
            //width:50% !important;
            //max-width:50% !important;
            //min-width:50% !important;
          }
        }
      }
    }
  }

  @include media('<=800px') {
    width: 50%;
    min-width: 50%;
  }
  @include media('<=450px') {
    width: 100%;
    min-width: 100%;
  }
}

.plotlyjs-pricing {
  .content-section-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pricing-cards {
    transform: translateY(-12px);
    .pricing-cards-headers-item:nth-of-type(3) {
      background: $color-rhino-core;
    }
  }
}

.onprem-pricing {
  .content-section-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  .on-prem-pricing-cards {
    padding: 0;
    position: relative;
    z-index: 4;
    margin: 0;
    transform: translateY(-74px);
    .pricing-cards-headers-item:nth-of-type(3) {
      background: $color-rhino-core;
    }
  }
}

.request-callback-section {
  .button {
    margin-top: $gutter;
    &-wrapper {
      .button-label {
        font-size: 1.5rem;
      }
    }
  }
}

.architecture-section,
.plotlyjs-section {
  .content-section-wrapper {
    padding-top: $gutter*2;
    padding-bottom: 0;
  }
}

.image-with-complex-text-overlay {
  &.architecture {

    @include media('>=1050px') {
      background: url("https://images-plotly.imgix.net/static/marketing/product/on-premises/architecture.png?auto=compress&auto=format") no-repeat;
      background-position: 80% 25%;
      background-size: 920px;
      position: relative;
      @include media('<=1300px') {
        background-size: 820px;
        background-position: 75% 25%;
      }
      @include media('<=1100px') {
        background-size: 620px;
        background-position: 65% 35%;
      }
      .image-with-complex-text-overlay-wrapper {
        position: relative;
        min-height: 800px;
      }
      .text-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }

    .image {
      display: none;
      @include media('<=1049px') {
        display: block;
      }
    }

    .text-item {
      .text-item-wrapper {
        padding: $unit*2;
      }
      &:last-of-type{
        margin-bottom:$gutter;
      }
      @include media('<=1049px') {

        & + .text-item{
          margin-top:$gutter;
        }
        position: relative;
        //.pre-title{
        //  text-align: left;
        //}
        .text-item-lines {
          position: absolute;
          height: 100%;
          left: 0;
          top: 0;
          border-left: $color-dodger 2px solid;
          border-bottom: $color-dodger 2px solid;
          width: 100%;
          &::after {
            position: absolute;
            content: '';
            $size: 9px;
            background: $color-dodger;
            width: $size;
            height: $size;
            border-radius: 100%;
            right: -$size/2;
            bottom: -$size/2;
          }

          &::before {
            position: absolute;
            content: '';
            $size: 12px;
            background: $color-aqua;
            border: $color-dodger 2px solid;
            width: $size;
            height: $size;
            border-radius: 100%;
            left: calc(-#{$size} / 2 - 2px);
            top: calc(-#{$size} / 2 - 2px);
          }
        }
      }
      @include media('>=1050px') {
        text-align: left;
        position: absolute;
        &--left {
          &-top {
            top: 120px;
            border-left: $color-dodger 2px solid;
            border-bottom: $color-dodger 2px solid;
            transform: translate3d(-7px, -7px, 0);
            width: 440px;
            .text-item-wrapper {
              &::after {
                position: absolute;
                content: '';
                $size: 9px;
                background: $color-dodger;
                width: $size;
                height: $size;
                border-radius: 100%;
                right: -$size/2;
                bottom: -$size/2;
              }

              &::before {
                position: absolute;
                content: '';
                $size: 12px;
                background: $color-aqua;
                border: $color-dodger 2px solid;
                width: $size;
                height: $size;
                border-radius: 100%;
                left: calc(-#{$size} / 2 - 2px);
                top: calc(-#{$size} / 2 - 2px);
              }
            }
          }

          &-second {
            top: 270px;
            padding-right: $gutter*2.5;

            width: 440px;
            transform: translate3d(-7px, -7px, 0);
            .text-item-lines {
              position: absolute;
              height: 100%;
              left: 0;
              top: 0;
              border-left: $color-dodger 2px solid;
              border-bottom: $color-dodger 2px solid;
              width: 65%;
              &::after {
                position: absolute;
                content: '';
                $size: 9px;
                background: $color-dodger;
                width: $size;
                height: $size;
                border-radius: 100%;
                right: -$size/2;
                bottom: -$size/2;
              }

              &::before {
                position: absolute;
                content: '';
                $size: 12px;
                background: $color-aqua;
                border: $color-dodger 2px solid;
                width: $size;
                height: $size;
                border-radius: 100%;
                left: calc(-#{$size} / 2 - 2px);
                top: calc(-#{$size} / 2 - 2px);
              }
            }
          }

          &-top,
          &-second {
            //width: 30%;
          }

        }

        &--center {
          &-bottom {

            $width: 240px;
            left: calc(50% - #{$width} / 2);
            width: $width;
            bottom: 170px;

            .text-item-lines {
              position: absolute;
              //height:100%;
              right: 0;
              top: 0;
              border-left: $color-dodger 2px solid;
              border-top: $color-dodger 2px solid;
              height: 20%;
              width: 100%;
              //transform: translateX(-160px);
              &::after {
                position: absolute;
                content: '';
                $size: 9px;
                background: $color-dodger;
                width: $size;
                height: $size;
                border-radius: 100%;
                right: -$size/2;
                top: -$size/2;
              }

              &::before {
                position: absolute;
                content: '';
                $size: 12px;
                background: $color-aqua;
                border: $color-dodger 2px solid;
                width: $size;
                height: $size;
                border-radius: 100%;
                left: calc(-#{$size} / 2 - 2px);
                bottom: calc(-#{$size} / 2 - 2px);
              }
            }
          }
        }

        &--right {

          &-bottom {
            top: 260px;
            right: 0px;
            padding-left: $gutter;
            //text-align: right;

            .text-item-lines {
              position: absolute;
              height: 100%;
              right: 0;
              top: 0;
              border-left: $color-dodger 2px solid;
              border-bottom: $color-dodger 2px solid;
              width: 20%;
              transform: translateX(-160px);
              &::after {
                position: absolute;
                content: '';
                $size: 9px;
                background: $color-dodger;
                width: $size;
                height: $size;
                border-radius: 100%;
                right: -$size/2;
                bottom: -$size/2;
              }

              &::before {
                position: absolute;
                content: '';
                $size: 12px;
                background: $color-aqua;
                border: $color-dodger 2px solid;
                width: $size;
                height: $size;
                border-radius: 100%;
                left: calc(-#{$size} / 2 - 2px);
                top: calc(-#{$size} / 2 - 2px);
              }
            }
          }

          &-top {
            top: 120px;
            padding-left: $gutter*3;
            right: 0;
            width: 340px;
            transform: translate3d(-7px, -7px, 0);
            p {
              //text-align: right;
            }
            .text-item-lines {
              position: absolute;
              height: 100%;
              right: 0;
              top: 0;
              border-right: $color-dodger 2px solid;
              border-bottom: $color-dodger 2px solid;
              width: 25%;
              transform: translateX(-260px);
              &::after {
                position: absolute;
                content: '';
                $size: 9px;
                background: $color-dodger;
                width: $size;
                height: $size;
                border-radius: 100%;
                left: -$size/2;
                bottom: -$size/2;
              }

              &::before {
                position: absolute;
                content: '';
                $size: 12px;
                background: $color-aqua;
                border: $color-dodger 2px solid;
                width: $size;
                height: $size;
                border-radius: 100%;
                right: calc(-#{$size} / 2 - 2px);
                top: calc(-#{$size} / 2 - 2px);
              }
            }
          }
        }
      }
    }

  }
  &.plotlyjs {
    background: url("https://images-plotly.imgix.net/static/marketing/product/on-premises/plotlyjs-onpremises.png?auto=compress&auto=format") no-repeat;
    background-position: right bottom;
    background-size: contain;

    &::after {

    }
    .image-with-complex-text-overlay-wrapper {
      position: relative;
      min-height: 560px;

      @include media ('<=800px') {
        min-height: 700px;
      }
      @include media ('<=600px') {
        min-height: 800px;
      }
    }
    .text-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    .text-item {
      text-align: left;
      position: absolute;

      .pre-title {
        text-transform: none;
        color: $color-dodger;
        padding-bottom: $unit;
      }
      .text-item-wrapper {
        padding: $unit*2;
      }

      &--left {
        &-top {
          width: 45%;

          @include media ('<=800px') {
            width: 80%;
            position: relative;
            margin-top: $gutter*2;
          }
          .text-item-lines {
            position: absolute;
            height: 110%;
            left: 0;
            top: 0;
            border-left: $color-dodger 2px solid;
            border-bottom: $color-dodger 2px solid;
            width: 81%;
            @include media ('<=800px') {
              $width: 45%;
              width: $width;
            }

            &::before {
              position: absolute;
              content: '';
              $size: 12px;
              background: $color-aqua;
              border: $color-dodger 2px solid;
              width: $size;
              height: $size;
              border-radius: 100%;
              left: calc(-#{$size} / 2 - 2px);
              top: calc(-#{$size} / 2 - 2px);
            }

            &-bottom {
              position: absolute;
              height: 70%;
              left: 0;
              top: 110%;
              border-right: #119DFF 2px solid;
              width: 81%;

              @include media ('<=800px') {
                $width: 45%;
                width: $width;
              }
              &::after {
                position: absolute;
                content: '';
                $size: 9px;
                background: $color-dodger;
                width: $size;
                height: $size;
                border-radius: 100%;
                right: -$size/2;
                bottom: -$size/2;
              }
            }
          }
        }
      }
      &--right {
        &-top {
          right: 0;
          width: 45%;

          @include media ('<=800px') {
            width: 100%;
            position: relative;
          }
          .text-item-lines {
            $width: 70%;
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            border-left: $color-dodger 2px solid;
            border-bottom: $color-dodger 2px solid;
            width: 70%;

            @include media ('<=800px') {
              $width: 90%;
              width: $width;
            }
            &::before {
              position: absolute;
              content: '';
              $size: 12px;
              background: $color-aqua;
              border: $color-dodger 2px solid;
              width: $size;
              height: $size;
              border-radius: 100%;
              left: calc(-#{$size} / 2 - 2px);
              top: calc(-#{$size} / 2 - 2px);
            }

            &-bottom {
              position: absolute;
              height: 70%;
              left: 0;
              top: 100%;
              border-right: #119DFF 2px solid;
              width: 70%;
              @include media ('<=800px') {
                $width: 90%;
                width: $width;
                height: 180%;
              }
              &::after {
                position: absolute;
                content: '';
                $size: 9px;
                background: $color-dodger;
                width: $size;
                height: $size;
                border-radius: 100%;
                right: -$size/2;
                bottom: -$size/2;
              }
            }
          }
        }
      }

    }
  }
}
