.quotes{

    .title{
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }

    .quotesTable{
        max-width: 66%;
        margin-left: auto;
        margin-right: auto;
        border-spacing: 30px;
        padding-bottom: 70px;

    }

    .logo {
        border-right: 10px solid lightgrey;
    }

    .cell {
        padding-left: 24px;
    }

    .author {
        padding-top: 6px;
        text-align: right;
        font-style: italic;
    }

    .author::before {
        content: "— ";
    }

    .logoImage{
        display: block;
        margin: auto;
    }

}

