.title{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.flexContainer{
    max-width: 66%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $desktop) {
        max-width: 90%;
    }

    .flexItem {
        display: flex;
        padding-bottom: 40px;

        @media screen and (max-width: $desktop) {
            flex-direction: column;
        }

        .logo {
            border-right: 10px solid lightgrey;
            flex: 0 1 10%;
            display: flex;


            .logoImage{
                margin: auto;
                display: block;

            }

            @media screen and (max-width: $desktop) {
                border-right: none;
                padding-bottom: 20px;

            }
        }

        .cell {
            padding-left: 24px;
            flex: 0 2 90%;

            .author {
                padding-top: 6px;
                text-align: right;
                font-style: italic;
            }

            .author::before {
                content: "— ";
            }
        }
    }
}







