$unit: 12px;
$gutter: $unit * 2;
$global-width: 1600px;
$global-easing: cubic-bezier(0.24, 0.8, 0, 0.97);
$timing: 0.38s;
$easing: $global-easing;
$transition: $timing all $easing;
$header-height: 90px;
.wrapper {
  max-width: $global-width;
  margin-right: auto;
  margin-left: auto;
}

@import 'mixins';
@import 'colors';
@import 'typography';
@import '~include-media/dist/_include-media.scss';

$drop-shadow: 0px 2px 8px rgba($color-rhino-dark, 0.4);
$drop-shadow-xl: 0px 10px 20px rgba($color-rhino-dark, 0.4);
$drop-shadow-xl-light: 0px 10px 20px rgba($color-rhino-dark, 0.2);
$drop-shadow-l: 0px 6px 14px rgba($color-rhino-dark, 0.4);
$drop-shadow-l-light: 0px 6px 14px rgba($color-rhino-dark, 0.2);
$drop-shadow-pressed: 0px 2px 2px rgba($color-rhino-dark, 0.4);
$text-shadow-default: 0px 1px 2px rgba($color-rhino-core, 0.5);


