.browser {
  @include center-content;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
  &-wrapper {
    img {
      width: 100%;
    }
  }
  box-shadow: $drop-shadow-l-light;
  &-viewport {
    background: $color-rhino-light-1;
    &::-webkit-scrollbar-track {
      background-color: $color-rhino-light-1;
    }
    &::-webkit-scrollbar {
      width: 8px;
      background-color: $color-rhino-light-1;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      width: 4px;
      background-color: rgba($color-dodger, 1);
      &:hover {
        background-color: rgba($color-dodger, 0.75);
      }
    }
  }
  &-header {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: white;
    border-bottom: 1px solid $color-rhino-medium-2;
    &-wrapper {
      padding: 8px $unit;
      display: flex;
    }
    &-buttons {
      display: flex;
    }
    &-button {
      $size: 14px;
      width: $size;
      height: $size;
      border: 1px solid $color-rhino-medium-1;
      border-radius: 50%;
      background: $color-rhino-medium-2;
      &:hover {
        background: $color-dodger;
        border-color: $color-dodger;
      }
      & + & {
        margin-left: $unit/2;
      }
    }
  }
}
