.buttons {
  @include phone-up {
    display: flex;
    align-items: center;
    .button + .button {
      margin-left: $unit;
    }
  }
  @include phone {
    .button + .button {
      margin-top: $unit;
    }
  }
  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & + & {
    margin-top: $gutter;
  }
  &.layout-align {
    &-center {
      justify-content: center;
      align-items: center;
    }
  }
}
.button {
  padding: $unit/1.5 $gutter;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 5px;
  transition: $transition;
  user-select: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  @extend %font-smoothing;
  &-icon {
    $size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-mdi {
      transform: translateY(3px);
    }
    &-wrapper {
      .mdi {
        font-size: 32px;
      }
    }
  }
  &-small {
    padding: $unit/2 $unit;
    font-size: 12px;
  }
  &-disabled {
    background: $color-rhino-medium-2;
    &:hover {
      cursor: not-allowed !important;
    }
  }
  &-primary {
    background: $color-button-default;
    box-shadow: $drop-shadow;
    .button-label,
    .button-icon {
      color: white !important;
      text-shadow: $text-shadow-default;
    }
    &:hover {
      background: $color-button-hover;
      cursor: pointer;
    }
    &:visited {
      color: white !important;
    }
    &:active {
      background: $color-button-active;
      box-shadow: $drop-shadow-pressed;
    }
  }
  &-secondary {
    border: 1px solid $color-dodger;
    color: $color-dodger !important;

    &:hover {
      border-color: $color-button-hover !important;
      color: $color-button-hover !important;
    }
  }
  &:active {
    @include active-state-transform;
  }
}
.cta-buttons {
  display: flex;
  #header-button {
    margin: 0;
  }
  #columns-thirds-button {
    margin: auto;
    margin-top: $gutter;
    margin-bottom: $gutter;
  }
  @include tablet {
    margin: auto;
  }
  @include phone {
    margin: auto;
  }
  .header-button {
    width: 200px;
  }
  a {
    margin-right: $gutter;
    margin-bottom: $gutter;
    color: white;
    white-space: nowrap;
    @include tablet {
      margin: auto;
      margin-top: $gutter;
      margin-bottom: $gutter;
    }
  }
  a:nth-of-type(2) {
    @include tablet {
      margin-top: 0;
    }
  }
  @include tablet {
    flex-direction: column;
    margin: auto;
  }
}
