.mailchimp-footer-text{
    margin-block-start: 0em;
    font-size: 80%;
  }

  .mc-input{
    margin-bottom: 10px;
    border: none;
    border-color: #fff;
  }

  #mc-embedded-subscribe{
    color: #fff;
  }
