//----------------------------------------------------------------------------------------------------------------------
// Mobile
//----------------------------------------------------------------------------------------------------------------------
$phone: 400px;
$tablet: 600px;
$desktop: 900px;
$mid-sized: 1200px;
$large-display: 1800px;
@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}
@mixin phone-up {
  @media (min-width: #{$phone + 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$desktop - 1px}) {
    @content;
  }
}
@mixin tablet-up {
  @media (min-width: #{$tablet 4 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin mid-sized {
  @media (min-width: #{$mid-sized}) {
    @content;
  }
}
@mixin large-display {
  @media (min-width: #{$large-display}) {
    @content;
  }
}
@mixin mid-down {
  @media (max-width: 1240px) {
    @content;
  }
}
@mixin below-large-display {
  @media (max-width: calc(#{$GlobalWidth} + 20%)) {
    @content;
  }
}
.mobile-only {
  @include desktop {
    display: none !important;
  }
}
