body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: $color-rhino-dark;
  @extend %font-smoothing;
}
strong {
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  margin: 0;
  color: $color-rhino-core;

  & ~ p:first-of-type {
    padding-top: 0;
    margin-top: 0;
  }
}
.hero-title {
  width: 100%;
  margin-bottom: $gutter;
  @extend %font-smoothing;
  font-family: 'Asap', sans-serif;
  color: $color-dodger;
  text-align: center;

  @include large-display {
    font-size: 2.5rem;
    text-align: left;
  }

  @include mid-sized {
    font-size: 2rem;
    text-align: left;
  }

  @include desktop {
    font-size: 2rem;
    line-height: 1.2;
    text-align: left;
  }

  @include tablet {
    width: 90%;
    margin: auto;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    padding-bottom: $gutter/2;
  }

  @include phone {
    font-size: 1.7rem;
    line-height: 1.2;
    text-align: center;
  }
}

.hero-subtitle {
  @extend %font-smoothing;
  font-family: 'Asap', sans-serif;
  color: white;
  text-align: center;
  p {
    margin-top: 0;
  }

  @include large-display {
    font-size: 1.3rem;
    text-align: left;
  }

  @include mid-sized {
    font-size: 1.2rem;
    text-align: left;
  }

  @include desktop {
    font-size: 1rem;
    line-height: 1.2;
    text-align: left;
  }

  @include tablet {
    width: 90%;
    margin: auto;
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: center;
    padding-bottom: $gutter/2;
  }

  @include phone {
    font-size: 1rem;
    line-height: 1.2;
  }
}
.pale-blue {
  color: #506784;
}
.dark {
  color: $color-rhino-core;
}
.title-l {
  font-size: 38px;
  line-height: 46px;
}
.title-med {
  font-size: 34px;
  line-height: 44px;
}
.title-sm {
  font-size: 28px;
  line-height: 34px;
}
.pre-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 2px;
  color: #a2b1c6;
  text-transform: uppercase;
  @include phone {
    text-align: left !important;
    width: 100%;
  }
}
.body-l {
  font-size: 22px;
  line-height: 36px;
}
.body-sm {
  font-size: 14px;
  line-height: 24px;
}
.white {
  color: white;
}
p + p {
  padding-top: $unit;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.width-med {
  max-width: 780px;
}
article.body {
  padding: $gutter;
}
@mixin title-xl {
  font-size: 58px;
  line-height: 60px;
  @include phone {
    font-size: 50px;
    line-height: 58px;
  }
}
@mixin title-l {
  font-size: 38px;
  line-height: 46px;
}
@mixin title-med {
  font-size: 34px;
  line-height: 44px;
}
@mixin title-sm {
  font-size: 28px;
  line-height: 34px;
}
%font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul li {
  list-style: none;
  text-align: left;
  padding-left: 5px;
}
ul li::before {
  color: $color-dodger;
  content: '\2022';
  font-size: 2em;
  position: relative;
  top: 0.2em;
  padding-right: 0.3em;
}

.pretitle {
  text-transform: uppercase;
  color: #96a6b5;
  letter-spacing: 2px;
  padding-bottom: $gutter/2;
  @include tablet {
    text-align: center;
  }
}

.copy-container {
  display: flex;
  flex-direction: column;
  height: inherit;
  margin: $gutter * 2;
  padding-top: 175px;
  @include tablet {
    padding-top: 0;
  }
  .title {
    line-height: 1.2;
    padding-bottom: $gutter;
    @include tablet {
      text-align: center;
    }
  }
  .messaging {
    padding-bottom: $gutter;
    @include tablet {
      text-align: center;
    }
  }
}
.github_stars {
  @include tablet {
    margin: auto;
  }
}
.title {
  line-height: 1.2;
  padding-bottom: $gutter;
  @include tablet {
    text-align: center;
  }
}
