///////////-------------------------------------------------------------------------------------------------------------
///---
/// Plotly Typography
/// typography.scss
///---
///////////-------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------
// Imports
//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------
// Overall Styles
//----------------------------------------------------------------------------------------------------------------------

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: $color-rhino-dark;
}

//----------------------------------------------------------------------------------------------------------------------
// Headings
//----------------------------------------------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  margin: 0;
  color: $color-rhino-core;

  & ~ p:first-of-type{
    padding-top:0;
    margin-top:0;
  }
}

.title-xl {
  @extend %font-smoothing;
}

.title-xl {
  font-size: 58px;
  line-height: 60px;
  @include handheld {
    font-size: 50px;
    line-height: 58px;
  }
}

.title-l {
  font-size: 38px;
  line-height: 46px;
}

.title-med {
  font-size: 34px;
  line-height: 44px;
}

.title-sm {
  font-size: 28px;
  line-height: 34px;
}
.pre-title{
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 2px;
  color: #A2B1C6;
  text-transform: uppercase;
  @include handheld{
    text-align: left !important;
    width: 100%;
  }
}
//----------------------------------------------------------------------------------------------------------------------
// Body Styles
//----------------------------------------------------------------------------------------------------------------------

.body-l {
  font-size: 22px;
  line-height: 36px;
}

.body-sm {
  font-size: 14px;
  line-height: 24px;
}

.white {
  color: white;
}

p + p {
  padding-top: $unit;
}

//----------------------------------------------------------------------------------------------------------------------
// Modifiers
//----------------------------------------------------------------------------------------------------------------------

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.width-med {
  max-width: 780px;
}

article.body {
  padding: $gutter;
}

@mixin title-xl {
  font-size: 58px;
  line-height: 60px;
  @include handheld {
    font-size: 50px;
    line-height: 58px;
  }
}

@mixin title-l {
  font-size: 38px;
  line-height: 46px;
}

@mixin title-med {
  font-size: 34px;
  line-height: 44px;
}

@mixin title-sm {
  font-size: 28px;
  line-height: 34px;
}

%font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
