.navigation-product {
  $c: &;
  &-item {
    flex-grow: 1;
    &-with-submenu {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      & > #{$c}-item {
        &:hover {

        }
      }
      @include media(">800px") {
        &:hover {
          cursor: default;
          #{$c}-item {
            opacity: 1;
            transform: translateY(-4px);
            color: white !important;
          }
          #{$c}-submenu {
            transform: none;
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
  }
  &-submenu {
    @include trans;
    @include media(">800px") {
      * {
        //text-align: right;
      }
      box-shadow: $drop-shadow-l-light;
      border-radius: 8px;
      position: absolute;
      top: calc(100% - 20px);
      right: 0px;
      background: white;
      padding: $unit*2;
      pointer-events: none;
      opacity: 0;
      transform: translateY(20px);
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      a {
        font-size: 16px;
      }

      $point-size: 15px;

      &:not(.navigation-product-submenu--large) {
        right: -8px;
        &::before {
          width: $point-size;
          height: $point-size;
          background: white;
          transform: rotate(45deg);
          content: '';
          position: absolute;
          top: -6px;
          z-index: 9999;
          right: 10px;
        }
      }
      &--large {
        min-width: 430px;
        left: -109px;
        &::before {
          width: $point-size;
          height: $point-size;
          background: white;
          transform: rotate(45deg);
          content: '';
          position: absolute;
          top: -6px;
          z-index: 9999;
          left: 232px;
        }
      }
      &-section {
        //width: 50%;
        &:first-of-type {
          padding-right: $unit*4 !important;
        }
        &--span-all {
          padding-top: $unit*2;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          max-width: 100%;
          justify-content: flex-end;
          margin-top: $unit*2;
          border-top: 1px solid rgba($color-rhino-light-1, 0.5);
        }
        &-title {
          text-transform: uppercase;
          @include ff-dosis;
          font-weight: bold;
          letter-spacing: 1px;
          font-size: 14px;
          line-height: 20px;
          padding-bottom: $unit/2;
          opacity: 0.5;
          width: 100%;
          //padding-left: $unit*4;
        }
      }
      &-item {
        color: $color-rhino-dark !important;
        display: block;
        width: 100%;
        white-space: nowrap;
        text-decoration: none !important;
        background-image: none !important;
        font-weight: 400 !important;
        font-size: 18px;
        &:not(:last-of-type) {
          padding-bottom: $unit/2;
        }
      }
    }
  }
}

.login-button {
  @include media('<=800px') {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .button {
    &-secondary {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      color: white !important;
      &:hover {
        border-color: white !important;
      }
    }
    &-label {
      font-size: 12px !important;
    }
  }
}
