// @import "partials/abstract";

.cta-banner{




  &.patterned-grey{
    background: url('https://now.plot.ly/static/images/patterns/plot-pattern-grey@2x.png') center center repeat chromatic-color-luminance($color-rhino-core, 0.9);
  }
  &-wrapper{
    padding:$gutter 0 $gutter*2;
    @include global-wrapper;
    border-top:1px solid $color-rhino-light-1;
  }
}

.columns {
  &-wrapper {
    //@include global-wrapper;
    display: flex;

    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

    @include tablet{
      .column{
        min-width: 40%;
      }
    }

    @include handheld{
      .column{
        min-width: 80%;
      }
    }

    .column {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;

      &-graphic {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding:$gutter;
        &-wrapper{
          max-width:200px;
        }
        img{

        }
      }
      &-title {
        padding-top: $unit;
        padding-bottom: $unit;
        font-size: 1.5rem;
        font-family: 'Dosis', sans-serif;
      }
      &-message {
        max-width: 80%;
        @include center-content;
      }
    }
  }

}