.hero {
  display: flex;
  background: #00004f;
  justify-content: center;
  align-items: center;
  height: 90vh;
  @include tablet {
    flex-direction: column;
    height: auto;
    padding-top: 100px;
  }
  .hero-left {
    display: flex;
    max-width: 50%;
    margin: $gutter * 2;
    flex-direction: column;
    .github-stars {
      justify-content: flex-start;
      padding-left: 0;
      @include tablet {
        justify-content: center;
        padding-left: $gutter * 2;
        margin: auto;
      }
    }
    
  }
  .hero-right {
    margin: $gutter * 4;
    margin-top: 150px;

    align-items: center;
    justify-content: center;
    @include phone {
      width: 90vw;
    }
    img {
      @include large-display {
        max-width: 800px;
      }
    }
  }
}
#cs-hero {
  background: #00004f;
}
.cs-product-hero {
  margin-bottom: 240px;
}
