.hero-prismic {

  --details-width: 45%;
  $details-width: 45%;
  --graphic-width: 55%;
  $graphic-width: 55%;

  $c: &;

  @at-root .page--falcon-sql-editor {
    #{$c} {
      --details-width: 55%;
      --graphic-width: 45%;
      #{$c}-messaging {
        padding-right: 0 !important;
      }
    }
  }

  /**
 * Layout styles
 * these styles deal the different arrangements of elements in the hero
 */
  &-layout {
    &--row {

      .hero-prismic-wrapper {
        @include global-wrapper;
        flex-direction: row !important;
        display: flex;
        align-items: center;
        padding-top: 100px;
        flex-wrap: wrap;
        width: 100%;

        h2 {
          text-align: left;
          width: 100%;
          margin-left:0;
          padding-left:0;
        }
        @include media("<1060px") {
          padding-top: 80px;
        }
        @include media("<=900px") {
          flex-direction: column !important;
          justify-content: flex-start;
          align-items: flex-start;
          padding-left: 0;
          padding-right: 0;
        }

        .hero-prismic-details-section {
          padding-top: 0;
          flex-grow: 1;
          @include media('>900px') {
            max-width: $details-width;
            width: $details-width;
            margin-left: 0;
            margin-right: 0;
            padding-bottom: $unit*4;
          }
          @include media("<=1250px") {
            min-width: 620px;
            width: 620px;
          }
          @include media("<=960px") {
            min-width: 420px;
            width: 420px;
          }
          @include media("<800px") {
            min-width: 0px;
            width: 100%;
          }
        }
        .hero-prismic-graphic-section {
          align-self: flex-end;
          @include media('>900px') {
            max-width: $graphic-width;
            transform-origin: left bottom;
            padding-bottom: $unit*4;
          }
          @include media('<=900px') {
            width: 100%;
            padding-top: $unit*4;
            padding-left: $unit*2;
            padding-right: $unit*2;
          }
          flex-grow: 1;
        }
        .hero-prismic-messaging {
          $cc: &;
          //padding-bottom: $unit*2;

          @at-root .page--home {
            #{$cc} {
              @include media('>800px') {
                padding-right: $unit*2;
              }
            }
          }
          @include media('>800px') {
            padding-right: $unit*12;
          }

          align-items: flex-start;
          justify-content: flex-start;
          h1 {
            text-align: left;
          }
        }
        .hero-prismic-actions {
          @include handheld {
            margin-left: auto;
            width: 100%;
            margin-right: auto;
            .button {
              margin-right: 0;
            }
          }
          .buttons {
            padding-top: $unit*2;
            justify-content: flex-start;
            flex-wrap: wrap;

            .button {
              white-space: nowrap;
              margin-left: 0;
              margin-right: $unit;
              margin-bottom: $unit;
            }
          }
        }
      }

      @include media('<=900px') {
        #{$c}-wrapper {
          display: flex !important;
          flex-direction: column;
        }

        #{$c}-bottom {
          padding-left: 0;
          padding-right: 0;
          order: 2;
        }

        #{$c}-graphic-section {
          order: 3;
          padding-top: 0 !important;
        }
      }

      /**
      Slice Styles

      Some slices in the hero will have different styling if they
      are in the hero.

       */

    }
  }
}
