.site-header {
  cursor: default !important;
  min-height: 100px;
  width: 100%;
  position: absolute;
  z-index: 99999999;

  .site-header-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 95vw;
    padding: 24px 24px;
    margin: 0 auto;

    .site-header--section-left {
      width: 300px;
      #plotly-logo {
        width: 150px;
      }

      #dash-logo {
      }

      #chart-studio-logo {
        width: 100%;
      }

      @media (max-width: 800px) {
        .site-header-logo {
          max-width: 200px;
        }
      }
    }

    .site-header--section-right {
      .site-header-nav {
        flex-grow: 1;
        display: flex;
        .navigation-product-item {
          transition: 0.38s all cubic-bezier(0.24, 0.8, 0, 0.97);
          text-transform: uppercase;
          letter-spacing: 2px;
          display: flex;
          align-items: center;
          padding-left: 24px;
          flex-grow: 1;
          display: flex;
          text-align: right;
          font-weight: 500;
          justify-content: flex-start;
          margin-left: 24px;
          color: white;
          opacity: 0.75;
        }

        .navigation-product-item:hover {
          color: #09ffff;
          opacity: 1;
        }
      }

      @media (max-width: 800px) {
        .site-header-nav {
          width: 100%;
          left: -15px;
          height: calc(100% - 95px);
          position: absolute;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          font-family: 'Open Sans', sans-serif;
          overflow-y: scroll;

          .hide-on-mobile {
            display: none;
          }

          .navigation-product-item {
            color: white;
            font-size: 12px;

            button {
              background-color: #119dff;
              color: white;
              border: 1px solid rgba(17, 157, 255, 0.5);
              font-size: 14px;
              padding: 9px;
            }
            button:hover {
              color: white;
              background-color: #09ffff;
            }
          }

          .navigation-product-item:first-child {
            padding-top: 40px;
          }

          .navigation-product-item:nth-last-child(1) {
            padding-top: 40px;
          }

          .navigation-product-item-with-submenu {
            padding-top: 12px;
          }

          .navigation-product-item-with-submenu,
          .navigation-product-submenu-section {
            flex-direction: column;
          }

          .navigation-product-submenu {
            padding-bottom: 12px;
            flex-direction: column;
            overflow: hidden;
          }

          .navigation-product-submenu:not(.submenu-active) {
            max-height: 0;
            padding: 0;
          }

          .navigation-product-submenu-section {
            flex-grow: 1;
            min-width: 50%;
            padding-left: 50px;
            text-transform: uppercase;
            color: white;
          }

          .navigation-product-submenu-section-title {
            letter-spacing: 2px;
            font-size: 14px;
            padding-bottom: 20px;
          }

          .navigation-product-submenu a {
            color: white;
          }
        }

        .site-header-nav:not(.mobile-menu-active) {
          display: none;
        }
      }

      @media (min-width: 801px) {
        #dds-button {
          padding-bottom: 20px;
        }

        #productsDropdown {
          right: -180px;
        }

        #pricingDropdown {
          right: -140px;
        }

        #signUpDropdown {
          left: -35px;
        }

        .hide-on-desktop {
          display: none;
        }

        .navigation-product-item-with-submenu {
          display: flex;
          position: relative;
          .navigation-product-submenu {
            transition: 0.28s all cubic-bezier(0.24, 0.8, 0, 0.97);
          }
        }

        .navigation-product-item-with-submenu:hover .navigation-product-item {
          opacity: 1;
          transform: translateY(-4px);
          color: #09ffff;
        }

        .navigation-product-item-with-submenu:hover .navigation-product-submenu {
          transform: none;
          opacity: 1;
          pointer-events: auto;
        }

        .navigation-product-item {
          button {
            background-color: #119dff;
            color: white;
            border: 1px solid rgba(17, 157, 255, 0.5);
            font-size: 14px;
            padding: 9px;
          }
          button:hover {
            color: white;
            background-color: #09ffff;
          }
        }

        .navigation-product-submenu {
          box-shadow: 3px 3px 14px #000;
          border-radius: 0px;
          position: absolute;
          top: 12px;
          background: #061d44;
          padding: 12px 24px;
          pointer-events: none;
          opacity: 0;
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          line-height: 1.6;
          font-family: 'Open Sans', sans-serif;
          margin-top: 30px;
        }

        .navigation-product-submenu-left {
          border-right: 1px solid #072e68;
          margin-right: 30px;
        }

        .navigation-product-submenu-left .navigation-product-submenu-item {
          padding-right: 15px;
        }

        .navigation-product-submenu-right img {
          padding-bottom: 20px;
          padding-top: 10px;
        }

        .navigation-product-submenu-right .navigation-product-submenu-item {
          padding-bottom: 15px;
        }

        .navigation-product-submenu a {
          font-size: 12px;
          max-width: 370px;
        }

        .navigation-product-submenu-section {
          display: flex;
          flex-direction: column;
          .navigation-product-submenu-section-title {
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            display: flex;
            letter-spacing: 3px;
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
            opacity: 1;
            color: #119dff;
            text-align: center;
            margin: 0;
          }

          #community-forum {
            padding-top: 20px;
            padding-bottom: 32px;

            border-bottom: 1px solid #072e68;
          }

          #chart-studio {
            padding-top: 32px;
            padding-bottom: 20px;
          }
        }

        .navigation-product-submenu-section:not(:last-of-type) {
          padding-right: 25px;
          padding-bottom: 30px;
        }

        .navigation-product-submenu-section-title {
          text-transform: uppercase;
          font-family: 'Open Sans', sans-serif;
          letter-spacing: 3px;
          font-size: 14px;
          line-height: 20px;
          opacity: 1;
          width: 100%;
          color: #119dff;
        }

        .navigation-product-submenu-item {
          color: white;
          width: 100%;
          white-space: nowrap;
          text-decoration: none;
          background-image: none;
          font-size: 12px;
          padding-top: 5px;
          padding-bottom: 5px;
          cursor: auto;
        }

        .navigation-product-submenu-item button {
          background-color: #061d44;
          color: #119dff;
          border: 1px solid rgba(17, 157, 255, 0.5);
        }

        .navigation-product-submenu-item button:hover {
          color: rgba(9, 255, 255, 0.8);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .site-header.mobile-menu-active {
    background-color: #061d44;
    height: 100vh;
    align-items: flex-start;
  }
}

#close-menu {
  font-size: 3rem;
}
