.site-header {
  cursor: default !important;
  height: $header-height;
  width: 100%;
  position: absolute;
  z-index: 99999999;

  .site-header-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;

    .site-header--section-left {
      // allows logo to stay about the same size regardless of page
      height: 40px;
      padding: $gutter;
      width: 99%;

      .site-header-logo {
        img {
          height: 35px;
        }
      }
    }

    .site-header--section-right {
      a {
        text-decoration: none !important;
      }

      .site-header-nav {
        flex-grow: 1;
        display: flex;

        .navigation-product-item {
          transition: 0.38s all cubic-bezier(0.24, 0.8, 0, 0.97);
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 14px;
          font-weight: 1000;
          color: white;
          display: flex;
          align-items: center;
          flex-grow: 1;
          white-space: nowrap;
        }

        .navigation-product-item:hover {
          color: #09ffff;
          opacity: 1;
        }
      }

      @media (max-width: 800px) {
        .hide-on-mobile {
          display: none;
        }

        .site-header-nav {
          width: 100%;
          left: 0;
          height: calc(100% - 95px);
          position: absolute;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          overflow-y: scroll;
          padding: 45px;

          .navigation-product-item-with-submenu,
          .navigation-product-submenu-section,
          .navigation-product-submenu {
            flex-direction: column;
          }

          .navigation-product-submenu:not(.submenu-active) {
            max-height: 0;
            padding: 0;
          }

          .navigation-product-item {
            padding: 0;
            margin: 0;
          }

          .navigation-product-item-with-submenu {
            width: 100%;
            padding: 15px;

            .navigation-product-submenu {
              padding: $gutter / 2;

              .navigation-product-submenu-section {
                flex-grow: 1;
                text-transform: uppercase;
                min-height: 50px;
                padding: $gutter / 2 0;

                .navigation-product-submenu-section-title {
                  letter-spacing: 2px;
                  font-size: 14px;
                  padding-bottom: 10px;
                }

                a {
                  margin: 5px 0;
                  max-width: 300px;
                }
              }
            }
          }
        }

        .site-header-nav:not(.mobile-menu-active) {
          display: none;
        }
      }

      @media (min-width: 801px) {
        .hide-on-desktop {
          display: none;
        }

        .navigation-product-item-with-submenu {
          display: flex;
          position: relative;
          padding: $gutter;

          .navigation-product-submenu {
            box-shadow: 3px 3px 14px #000;
            border-radius: 0px;
            position: absolute;
            top: 12px;
            margin-top: $header-height - $gutter;
            margin-left: -$gutter * 2;
            background: #07073d;
            pointer-events: none;
            opacity: 0;
            display: flex;
            flex-wrap: nowrap;
            line-height: 1.6;
            transition: 0.28s all cubic-bezier(0.24, 0.8, 0, 0.97);

            a {
              font-size: 12px;
              width: 250px;
              margin: 10px 0;
            }

            .navigation-product-submenu-left {
              padding: calc(#{$gutter} * 0.25);
            }

            .navigation-product-submenu-right {
            }

            .navigation-product-submenu-section {
              padding: calc(#{$gutter} * 0.75);
              padding-top: 30px;
              width: 300px;

              .navigation-product-submenu-section-title {
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 13px;
                font-weight: bold;
                opacity: 1;
                color: #119dff;
                line-height: 20px;
              }

              .navigation-product-submenu-section-title#dash-in-action {
                text-align: center;
              }

              .navigation-product-submenu-section-title:hover {
                color: rgba(9, 255, 255, 0.8);
              }

              .navigation-product-submenu-item {
                color: white;
                width: 100%;
                text-decoration: none;
                background-image: none;
                font-size: 12px;
              }
            }
          }

          #signUpDropdown {
            display: block;
            padding: 12px;
            min-width: 250px;
            text-align: center;
          }

          #signUpDropdown .navigation-product-submenu-section {
            width: 280px;
            padding: $gutter;
          }

          #signUpDropdown div:first-child {
            border-bottom: 1px solid #072e68;
            padding: 12px;
            padding-bottom: $gutter;
          }

          #signUpDropdown div:nth-child(2) {
            padding: 12px;
            padding-top: $gutter;
          }

          #productsDropdown .navigation-product-submenu-right {
            display: flex;
            align-items: center;
            text-align: center;
            background-image: url(https://prismic-io.s3.amazonaws.com/plotly%2Fead61969-40ad-4718-baf2-c4c78bc153d5_email+template.png);
            background-repeat: no-repeat;

            .navigation-product-submenu-section-title {
              color: white;
            }

            .button {
              width: 170px;
              margin: 20px auto;
              margin-bottom: 0;
              color: white !important;
              border-color: white;
              font-size: 12px;
            }

            .button:hover {
              color: rgba(9, 255, 255, 0.8) !important;
              border-color: rgba(9, 255, 255, 0.8) !important;
            }
          }
        }

        .navigation-product-item-with-submenu:hover .navigation-product-item {
          color: #09ffff;
        }

        .navigation-product-item-with-submenu:hover .navigation-product-submenu {
          transform: none;
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .site-header.mobile-menu-active {
    background-color: #07073d;
    height: 100vh;
    align-items: flex-start;
  }
  #close-menu {
    font-size: 3rem;
  }
}
