.navigation-product {
  $c: &;
  &-item {
    flex-grow: 1;
    &-with-submenu {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      @include media('>800px') {
        &:hover {
          cursor: default;
          #{$c}-item {
            opacity: 1;
            transform: translateY(-4px);
            color: white !important;
          }
          #{$c}-submenu {
            transform: none;
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
  }
  &-submenu {
    @include trans;
    @include media('>800px') {
      &-left {
        border-right: 1px solid grey;
      }
      &-right {
        margin-left: 30px;
        padding-top: 15px;
        img {
          padding-bottom: 25px;
        }
        .navigation-product-submenu-item {
          padding-bottom: 15px;
        }
      }
      box-shadow: 3px 3px 14px #000a;
      border-radius: 0px;
      position: absolute;
      top: calc(100% - 5px);
      right: 0px;
      background: #061d44;
      padding: $unit $unit * 2;
      pointer-events: none;
      opacity: 0;
      transform: translateY(20px);
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      line-height: 1.6;
      a {
        font-size: 12px;
      }

      $point-size: 15px;

      &:not(.navigation-product-submenu--large) {
        right: -8px;
      }
      &--large {
        min-width: 430px;
        left: -109px;
      }
      &-section {
        flex: 1;
        &:not(:last-of-type) {
          padding-right: 25px;
          padding-bottom: 40px;
        }
        &--span-all {
          padding-top: $unit * 2;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          max-width: 100%;
          justify-content: flex-end;
          border-top: 1px solid rgba($color-rhino-light-1, 0.5);
        }
        &-title {
          text-transform: uppercase;
          @include ff-dosis;
          font-weight: bold;
          letter-spacing: 3px;
          font-size: 14px;
          line-height: 20px;
          opacity: 0.5;
          width: 100%;
          color: #119dff;
        }
      }
      &-item {
        color: white !important;
        display: block;
        width: 100%;
        white-space: nowrap;
        text-decoration: none !important;
        background-image: none !important;
        font-weight: bold;
        font-size: 12px;
        padding-top: 5px;
        &:not(:last-of-type) {
          padding-bottom: $unit/4;
        }

        button {
          background-color: #061d44;
          color: #119dff;
          border-color: #119dff;
        }
      }
    }
  }
}
