.toggle-switch-container {
  max-width: 100%;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media('<=800px') {
    width: 40%;
    height: 200px;
  }
  .toggle-switch {
    font-size: 0.8rem;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    position: relative;
    background: white;
    border: 1px solid $color-rhino-light-4;
    box-shadow: rgba(80, 103, 132, 0.2) 0 2px 8px 0;
    margin: 10px;
    @include media('<=800px') {
      display: block;
      min-width: 350px;
    }
    .toggle-switch-item {
      display: flex;
      align-items: center;
      width: 280px;
      justify-content: center;
      padding: 5px 15px;
      cursor: default;
      color: rgba(81, 103, 131, 0.75);
      font-weight: normal;
      border-right: 1px solid $color-rhino-light-1;
      height: 60px;
      @include media('<=800px') {
        border-bottom: 2px solid $color-rhino-light-1;
        height: 60px;
        width: auto;
      }
      @include trans;
      &.active {
        background-color: $color-dodger;
        color: white;
      }
    }
  }
}
