// @import "partials/abstract";

.cards {

  .industries-card {
    overflow: hidden;
    .card-action {
      bottom: 0;
      max-height: 20px;
    }
  }
  > a {
    //flex: 1 0 50%;
    //box-sizing: border-box;
    //margin-bottom: 60px;
    //max-width: 475px;
  }
}

.card {
  width: 100%;

  &-with-image {
    &:hover {
      transition: none;
      transform: inherit;
      .card-action {
        max-height: 9000px;
      }

    }
  }
}
