.buttonscontent-container {
  padding: $gutter * 3 0;
  background-color: #f9fafe;
  min-height: 680px;

  .buttonscontent-content {
    max-width: $global-width;
    margin: auto;
    padding: 0 $gutter;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    .left {
      img {
        display: inline-block;
        width: 40px;
        margin-top: 8px;
        margin-left: 5px;
      }

      .label {
        vertical-align: top;
        padding: $gutter * 0.65;
        display: inline-block;
      }

      .label-container-active {
        background-color: white;
        user-select: none;
        border: 1px solid $color-aqua-shade;
        box-shadow: 1px 1px 10px #dde7f2;
        border-radius: 2px;
        margin-bottom: $gutter;
        width: 300px;
        height: 60px;
        transition: border-color 0.1s ease-in-out;
        cursor: pointer;
      }

      .label-container-inactive {
        @extend .label-container-active;
        border-color: $color-rhino-light-1;
      }
    }

    .right {
      padding: $gutter;
      padding-top: 0;
      padding-left: $gutter * 2;
      display: flex;
      align-items: center;

      p + p {
        padding-top: 0;
        margin-top: 0;
      }

      img {
        width: 500px;
        padding: $gutter;
        margin: auto;
      }

      .content-container-active {
        display: block;

        .right-text {
          .title {
            padding-bottom: 0;
          }

          @include tablet {
            text-align: center;
            margin-top: $gutter;
          }
        }
      }

      .content-container-inactive {
        display: none;
      }

      @include tablet {
        padding-left: $gutter;
      }
    }
    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }
}
