.columns-thirds {
  max-width: $global-width;
  margin: $gutter * 2 auto;

  .title-container {
    margin: $gutter * 3 auto;
    text-align: center;

    .title {
    }

    .subtitle {
      margin: auto;
      width: 70%;
      color: #2a3f5e;
    }
  }
  .columns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    @include tablet {
      flex-direction: column;
    }

    .intro-column {
      background-size: cover;
      background-repeat: no-repeat;
      width: 30%;
      display: flex;
      flex-direction: column;

      @include tablet {
        width: 90%;
        margin: auto;
      }

      .intro-copy-container {
        margin: auto;
        text-align: left;

        .pretitle {
          font-size: 16px;
          line-height: 26px;
          font-weight: 300;

          @include tablet {
            padding-top: $gutter * 2;
          }
        }
        .subtitle-white {
          padding: $gutter;
          color: white;
          margin: auto;

          @include tablet {
            width: 100%;
            text-align: center;
            margin-bottom: 0;
            line-height: 1.2;
          }
        }
        .subtitle-dark {
          p {
            margin: 0;
          }

          @include tablet {
            text-align: center;
            margin-bottom: $gutter;
          }
        }
        .title {
          color: $color-rhino-core;
          text-align: left;

          p {
            margin: 0;
            padding: 0;
          }

          @include tablet {
            width: 100%;
            text-align: center;
          }
        }
        .cta-buttons {
          margin: auto;

          a {
            margin-right: 0;
          }
        }
      }
    }

    .repeatable-column-wrapper {
      width: 30%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: top;
      padding: $gutter * 1.5;

      a {
        justify-content: flex-end;
      }

      @include tablet {
        width: 90%;
        margin: auto;
      }

      .repeatable-column {
        @include tablet {
          margin-top: 0;
        }

        img {
          margin-top: 0;
          margin-bottom: $gutter;
          width: 90px;

          @include tablet {
            margin: auto;
          }
        }

        .pretitle {
          text-align: left;
          align-self: flex-start;

          @include tablet {
            text-align: center;
            margin-top: -$gutter * 3;
            margin-top: 0;
          }
        }

        .title {
          color: #119dff;
          font-size: 1.4em;

          @include tablet {
            text-align: center;
          }
        }

        .copy {
          font-size: 14px;
          @include tablet {
            text-align: center;
          }
        }
      }
    }
    .repeatable-column-wrapper:nth-child(4n) {
      padding-left: 0;

      @include tablet {
        padding-left: $gutter;
      }
    }
  }
}
