.columns-thirds {
  display: flex;
  flex-direction: column;
  padding-bottom: $gutter * 2;
  .title-container {
    margin: auto;
    text-align: center;
    .title {
      padding: $gutter * 4 0 $gutter/4 0;
    }
    .subtitle {
      margin: auto;
      width: 70%;
      padding-bottom: $gutter * 2;
      color: #2a3f5e;
    }
  }
  .columns-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    @include tablet {
      margin: auto;
    }
    .repeatable-columns-wrapper {
      @include tablet {
        margin: 0;
      }
      .repeatable-columns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1250px;
        @include media('<1250px') {
          flex-direction: column;
          width: auto;
          margin: 0;
        }
        .intro-column {
          background-size: cover;
          background-repeat: no-repeat;
          display: flex;
          width: 400px;
          height: 450px;
          @include tablet {
            width: 300px;
          }

          .intro-copy-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;

            .subtitle-white {
              padding: $gutter;
              color: white;
              margin: auto;
              margin-bottom: -180px;
              @include tablet {
                width: 100%;
                text-align: center;
                margin-bottom: 0;
              }
            }
            .title {
              color: $color-rhino-core;
              text-align: left;
              p {
                margin: 0;
                padding: 0;
              }
              @include tablet {
                width: 100%;
              }
            }
            .cta-buttons {
              a {
                margin-right: 0;
              }
              margin: auto;
            }
          }
        }
        .repeatable-column-wrapper {
          border: 1px solid #f2f5fa;
          box-sizing: border-box;
          .repeatable-column {
            width: 400px;
            height: 360px;
            padding: $gutter;
            margin-bottom: 20px;
            @include tablet {
              height: 400px;
              width: 300px;
            }
            .pretitle {
              text-align: center;
            }
            img {
              margin: auto;
              padding-bottom: $gutter * 2;
              width: 100px;
            }
            .title {
              color: #119dff;
              font-size: 1.4em;
            }
            .copy {
              font-size: 14px;
              @include tablet {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
