.combo-cta-container {
  padding-bottom: 10px;
  border-bottom: 2px solid #f5f8fa;

  @include desktop {
    background: linear-gradient(90deg, #000075 39%, #fff 25%);
  }

  @include tablet {
    background: none;
  }

  .combo-cta {
    padding-top: $gutter * 3;
    max-width: $global-width;
    margin: auto;

    .dash-cta-container-active {
      display: flex;
      flex-direction: row;

      @include tablet {
        flex-direction: column;
      }
      p {
        @include tablet {
          text-align: center;
        }
      }
      .dash-cta-graphic {
        padding-bottom: $gutter;
      }
      .copy-container {
        margin: $gutter;
        .dash-cta-anchor {
          @include tablet {
            text-align: center;
            margin: auto;
            justify-content: center;
            margin-top: $gutter;
            float: none;
          }
          cursor: pointer;
          text-transform: uppercase;
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-grow: 1;
          float: right;
          margin: $gutter;
          .anchor-link {
            padding-right: 10px;
          }
        }
        @include phone {
          width: 100%;
          margin: auto;
        }
      }
    }
    .dash-cta-container {
      display: none;
    }
    .cs-cta-container-active {
      display: flex;
      flex-direction: row;
      @include tablet {
        flex-direction: column;
        height: auto;
      }
      p {
        @include tablet {
          text-align: center;
        }
      }
    }
    .cs-cta-container {
      display: none;
    }
    .copy-container {
      margin: $gutter;
      .cs-cta-anchor {
        @include tablet {
          text-align: center;
          margin: auto;
          justify-content: center;
          margin-top: $gutter;
          float: none;
        }
        cursor: pointer;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        float: right;
        margin: $gutter;

        .anchor-link {
          padding-left: 10px;
        }
      }
      @include phone {
        width: 100%;
        margin: auto;
      }

      .title {
        line-height: 1.2;
        padding-bottom: $gutter;
        @include tablet {
          text-align: center;
        }
      }
      .messaging {
        padding-bottom: $gutter;
        @include tablet {
          text-align: center;
        }
      }
    }
  }
}
