.copy-left-graphic-right-container {
  background: linear-gradient(90deg, #000075 75%, #fff 25%);

  .copy-left-graphic-right {
    display: flex;
    flex-direction: row;
    max-width: $global-width;
    margin: auto;

    @include tablet {
      flex-direction: column;
      background: #000075;
      margin: auto;
    }

    .copy-l-container {
      color: white;
      display: flex;
      padding: $gutter 0;

      h1 {
        padding-bottom: 0;
      }

      .copy-l {
        margin: auto;
        padding: $gutter;

        @include tablet {
          width: 100%;
          margin: 0;
          margin-bottom: $gutter;
          padding-bottom: 0;
        }

        @include phone {
          margin-left: 0;
        }

        .title {
          color: white;
          font-size: 2em;
          margin-right: 100px;

          @include tablet {
            padding-top: $gutter * 2;
            margin: auto;
          }
        }
        .copy {
          @include tablet {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .graphic-r-container {
      margin: auto;
      min-width: 30%;

      img {
        margin: auto;
        padding: $gutter;
        @include tablet {
          display: none;
        }
      }
    }
  }
}
