.copy-left-graphic-right-two-container {
  display: flex;
  padding-bottom: $gutter;
  .content-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    @include tablet {
      flex-direction: column;
      margin: $gutter;
    }
    .graphic-container {
      width: 50%;
      margin: $gutter * 3;
      @include tablet {
        width: 100%;
        margin: auto;
        padding-top: $gutter * 2;

        img {
          margin: auto;
        }
      }
    }
    .copy-container {
      width: 50%;
      margin: $gutter * 3;
      ul {
        padding: 0;
      }
      @include tablet {
        width: 100%;
        margin: 0;
        margin-bottom: $gutter;
      }
      p {
        width: 100%;
        margin: 0;
      }
      .dash-pretitle {
        text-transform: uppercase;
        color: #96a6b5;
        letter-spacing: 2px;
        padding-bottom: $gutter/2;
        @include tablet {
          text-align: center;
        }
      }
      .subtitle {
        color: #506784;
        @include tablet {
          text-align: center;
        }
      }
    }
  }
}
