.copy-left-graphic-right-two-container {
  margin: $gutter 0;

  .copy-left-graphic-right-two {
    max-width: $global-width;
    margin: auto;
    @include tablet {
      flex-direction: column;
    }
    .content-container {
      display: flex;
      flex-direction: row;
      @include tablet {
        flex-direction: column;
      }
      .graphic-container {
        min-width: 50%;
        margin: auto;
      }
      img {
        @include tablet {
          display: none;
        }
      }

      .copy-wrapper {
        padding-top: $gutter;
        min-width: 50%;
        .copy-container {
          display: flex;
          flex-direction: column;
          padding: $gutter;
          margin-top: 0;
          @include tablet {
            flex-direction: column;
          }
          p {
            margin: 0;
          }
          h1 {
            text-align: left;
            @include tablet {
              text-align: center;
            }
          }
          .subtitle {
            padding: $gutter 0;
          }
        }
      }
    }
  }
}
