.dash-content-section-container {
  display: flex;
  flex-direction: row;
  padding-top: $gutter;
  padding-bottom: $gutter;
  @include tablet {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: $gutter;
  }
  .dash-content-section-graphic {
    width: 50%;
    @include tablet {
      width: 100%;
    }
    img {
      max-width: 150% !important;
      @include tablet {
        max-width: 100% !important;
      }

      @include large-display {
        min-width: 100% !important;
      }
    }
  }
  .dash-messaging-rectangle {
    width: 50%;
    @include tablet {
      width: 100%;
    }
    .box-shadows {
      box-shadow: 4px 4px 14px rgba(#ebf0f8, 0.7);
      opacity: 0.95;
      background: white;
      margin-top: 20%;
      margin-right: 10%;
      padding: $gutter;
      @include tablet {
        padding: 0;
        margin: 0;
      }
      @include large-display {
        margin-top: 10%;
      }
      .dash-pretitle {
        text-transform: uppercase;
        color: #96a6b5;
        letter-spacing: 2px;
        padding-bottom: $gutter/2;
        @include tablet {
          text-align: center;
          padding-top: $gutter;
        }
      }
      .subtitle {
        color: #506784;
        padding-bottom: $gutter;
        @include tablet {
          text-align: center;
        }
        ul li {
          list-style: none;
        }
        ul li::before {
          color: $color-dodger;
          content: '\2022';
          font-size: 2em;
          position: relative;
          top: 0.2em;
          padding-right: 0.3em;
        }
      }
    }
  }
}
