.dash-deployment-server-container {
  display: flex;
  flex-direction: row;
  padding-top: $gutter * 4;
  padding-bottom: $gutter;
  @include tablet {
    flex-direction: column;
    padding-top: $gutter * 2;
    padding-bottom: $gutter * 2;
    margin: $gutter;
  }
  .dash-deployment-server-graphic {
    width: 50%;
    margin: $gutter * 3;
    padding-top: 110px;
    @include tablet {
      width: 100%;
      margin: auto;
      padding-top: $gutter * 2;

      img {
        margin: auto;
      }
    }
  }
  .dash-deployment-server-messaging-rectangle {
    width: 50%;
    margin: $gutter * 3;
    ul {
      padding: 0;
    }
    @include tablet {
      width: 100%;
      margin: 0;
      margin-bottom: $gutter;
    }
    p {
      width: 100%;
      margin: 0;
    }
    .dash-pretitle {
      text-transform: uppercase;
      color: #96a6b5;
      letter-spacing: 2px;
      padding-bottom: $gutter/2;
      @include tablet {
        text-align: center;
      }
    }
    .subtitle {
      color: #506784;
      @include tablet {
        text-align: center;
      }
    }
  }
}

.dash-snapshot-engine-container {
  display: flex;
  flex-direction: row;
  padding-top: $gutter * 4;
  padding-bottom: $gutter;
  @include tablet {
    flex-direction: column;
    padding-top: $gutter;
    margin: $gutter;
    margin-top: -160px;
  }
  .dash-deployment-server-graphic {
    width: 50%;
    margin: $gutter * 3;
    padding-top: 110px;
    @include tablet {
      width: 100%;
      margin: auto;
      padding-top: $gutter * 2;

      img {
        margin: auto;
      }
    }
  }
  .dash-deployment-server-messaging-rectangle {
    width: 50%;
    margin: $gutter * 3;
    ul {
      padding: 0;
    }
    @include tablet {
      width: 100%;
      margin: 0;
    }
    @include phone {
      margin-bottom: $gutter;
    }
    p {
      width: 100%;
      margin: 0;
    }
    .dash-pretitle {
      text-transform: uppercase;
      color: #96a6b5;
      letter-spacing: 2px;
      padding-bottom: $gutter/2;
      @include tablet {
        text-align: center;
      }
    }
    .subtitle {
      color: #506784;
      @include tablet {
        text-align: center;
      }
    }
  }
}
