.dash-content-section-container {
  display: flex;
  flex-direction: row;
  padding-top: $gutter * 4;
  padding-bottom: $gutter * 2;
  @include tablet {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: $gutter;
  }
  .dash-content-section-graphic {
    width: 95%;
    @include tablet {
      width: 100%;
    }
  }
  .dash-messaging-rectangle {
    transform: translateX(-24%) translateY(15%);
    margin-bottom: 65px;
    @include tablet {
      transform: none;
    }
    .box-shadows {
      box-shadow: 4px 4px 14px rgba(#ebf0f8, 0.7);
      opacity: 0.95;
      background: white;
      padding: $gutter * 2;
      padding-right: 0;
      @include tablet {
        padding: 0;
      }
      .dash-pretitle {
        text-transform: uppercase;
        color: #96a6b5;
        letter-spacing: 2px;
        padding-bottom: $gutter/2;
        @include tablet {
          text-align: center;
          padding-top: $gutter;
        }
      }
      .subtitle {
        color: #506784;
        padding-bottom: $gutter;
        @include tablet {
          text-align: center;
        }
      }
    }
  }
}
