.dash-deployment-server-container {
  display: flex;
  flex-direction: row;
  padding-top: $gutter * 4;
  padding-bottom: $gutter * 4;
  @include tablet {
    flex-direction: column;
    padding-top: $gutter;
    margin: auto;
  }
  .dash-deployment-server-graphic {
    width: 50%;
    margin: $gutter * 3;
    padding-top: 110px;
    @include tablet {
      margin: auto;
      padding-top: 0;
    }
  }
  .dash-deployment-server-messaging-rectangle {
    width: 50%;
    margin: $gutter * 3;
    @include tablet {
      width: 90%;
      margin: $gutter * 2;
    }
    .dash-pretitle {
      text-transform: uppercase;
      color: #96a6b5;
      letter-spacing: 2px;
      padding-bottom: $gutter/2;
      @include tablet {
        text-align: center;
      }
    }
    .subtitle {
      color: #506784;
      @include tablet {
        text-align: center;
      }
    }
  }
}
