.gallery-container {
  margin: $gutter * 3;
  @include tablet {
    margin: $gutter;
    margin-top: 48px;
  }
  .oil-and-gas-active {
    display: flex;
    flex-direction: row;
    margin: $gutter;
    @include tablet {
      flex-direction: column;
    }
    .gallery-graphic {
      width: 50%;
      margin-bottom: $gutter;
      margin-right: $gutter * 2;
      @include tablet {
        text-align: center;
        margin: auto;
        padding-bottom: $gutter;
        min-width: 80%;
      }
    }
    .gallery-messaging {
      width: 50%;
      .title {
        line-height: 1.2;
      }
      .gallery-heading {
        text-transform: uppercase;
        color: #96a6b5;
        letter-spacing: 2px;
        padding-bottom: $gutter/2;
        @include tablet {
          text-align: center;
          .title {
            line-height: 1.2;
          }
        }
      }
      .gallery-copy {
        margin-bottom: $gutter * 2;
      }
      @include tablet {
        width: 100%;
        text-align: center;
      }
    }
  }
  .ml-active {
    display: flex;
    flex-direction: row;
    margin: $gutter;
    @include tablet {
      flex-direction: column;
    }
    .gallery-graphic {
      width: 50%;
      margin-bottom: $gutter;
      @include tablet {
        width: 100%;
        text-align: center;
      }
    }
    .gallery-messaging {
      width: 50%;
      .title {
        line-height: 1.2;
      }
      .gallery-heading {
        text-transform: uppercase;
        color: #96a6b5;
        letter-spacing: 2px;
        padding-bottom: $gutter/2;
        @include tablet {
          text-align: center;
          .title {
            line-height: 1.2;
          }
        }
      }
      .gallery-copy {
        margin-bottom: $gutter * 2;
      }
      @include tablet {
        width: 100%;
        text-align: center;
      }
    }
  }
  .pharma-active {
    display: flex;
    flex-direction: row;
    margin: $gutter;
    @include tablet {
      flex-direction: column;
    }
    .gallery-graphic {
      width: 50%;
      margin-bottom: $gutter;
      @include tablet {
        width: 100%;
        text-align: center;
      }
    }
    .gallery-messaging {
      width: 50%;
      .title {
        line-height: 1.2;
      }
      .gallery-heading {
        text-transform: uppercase;
        color: #96a6b5;
        letter-spacing: 2px;
        padding-bottom: $gutter/2;
        @include tablet {
          text-align: center;
          .title {
            line-height: 1.2;
          }
        }
      }
      .gallery-copy {
        margin-bottom: $gutter * 2;
      }
      @include tablet {
        width: 100%;
        text-align: center;
      }
    }
  }
  .slider-container {
    display: flex;
    height: 70px;
    .sliders {
      display: flex;
      flex-direction: row;
      margin: auto;
      &:hover {
        cursor: pointer;
      }
      .oil-slider,
      .ml-slider,
      .pharma-slider {
        padding-right: $gutter;
      }
    }
  }
  .oil-and-gas,
  .pharma,
  .ml {
    display: none;
  }
}
