.addons-container {
  display: flex;
  flex-direction: column;
  .addons-graphic {
    z-index: 0;
    width: 100%;

    img {
      width: 100%;
    }
  }
  .addons-messaging {
    @include tablet {
      box-shadow: 4px 4px 14px rgba(#ebf0f8, 0.7);
      background: white;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include media('>900px') {
      margin: 0;
      position: relative;

      box-shadow: 4px 4px 14px rgba(#ebf0f8, 0.7);
      background: white;
      padding-top: 100px;
      padding-bottom: 100px;
    }

    @include media('>1200px') {
      display: flex;
      position: absolute;
      z-index: 1;
      flex-direction: column;
      box-shadow: 4px 4px 14px rgba(#ebf0f8, 0.7);
      background: white;
      padding-top: 100px;
      padding-bottom: 100px;
      opacity: 0.9;
      align-self: center;
      margin-top: 5%;
    }

    .addons-title {
      text-align: center;

      @include tablet {
        line-height: 1.2;
      }
    }
    .addons-copy {
      text-align: center;
      width: 60%;
      margin: auto;
    }
    .cta-buttons {
      margin-top: $gutter;
      a {
        margin: auto;
        color: white;
        width: 200px;
      }
    }
  }
}
