.footercta-copy-right-container {
  margin-bottom: $space-between/2;
  border-top: 1px solid #f5f8fa;
  .footercta-graphic-left-copy-right {
    display: flex;
    flex-direction: row;
    max-width: $global-width;
    margin: auto;
    margin-top: $space-between/2;

    @include tablet {
      flex-direction: column;
      height: auto;
    }
    .footercta-content-container {
      display: flex;
      flex-direction: row;
      img {
        max-width: 100%;
        margin: $gutter;
        @include tablet {
          width: 90%;
          margin: auto;
        }
      }
      @include tablet {
        flex-direction: column;
      }
      .copy-wrapper {
        display: flex;
        justify-content: center;
        padding-left: $gutter * 2;
        @include tablet {
          padding-left: 0;
        }
        a {
          width: 250px;
          margin-top: -20px;
          @include tablet {
            margin: auto;
          }
        }
        .copy-container {
          display: flex;
          flex-direction: column;
          margin: $gutter/2;
          margin-top: 0;
          justify-content: center;
          .hero-title {
            text-align: left;
            white-space: nowrap;
            width: 100%;
            @include tablet {
              text-align: center;
            }
          }
          a {
            margin-top: $gutter;
          }
          @include tablet {
            text-align: center;
          }
        }
      }
    }
  }
}
