.fourBoxesOneRow-container {
  margin: $gutter;

  .fourBoxesOneRow-content {
    max-width: $global-width;
    margin: auto;
    margin-top: $gutter * 3;
    margin-bottom: $gutter * 4;

    .fourBoxesOneRow-title {
      text-align: center;
    }

    .cta-buttons {
      .button {
        margin: $gutter auto;
      }
    }

    .fourBoxesOneRow-boxes-container {
      display: flex;
      flex-wrap: wrap;
      padding: $gutter 0;
      justify-content: center;

      .box {
        display: inline-block;
        width: 24%;
        padding: $gutter;
        background-color: rgb(249, 250, 255);
        min-height: 400px;
        margin: $gutter/4;

        .header {
          text-align: center;
          min-height: 50px;

          img {
            width: 70px;
            min-height: 80px;
            margin: auto;
          }

          .title {
          }
        }

        .content {
          .description {
            text-align: center;
          }
        }

        @media (max-width: 1150px) {
          width: 48%;
          min-height: 350px;
        }

        @media (max-width: 650px) {
          width: 98%;
          min-height: 320px;
        }
      }
    }
  }
}
