$point-color: #bcbcbc;

.gallery-container {
  margin-bottom: $gutter * 3;

  .gallery {
    max-width: $global-width;
    margin: auto;
    padding: $gutter * 3 0;
    position: relative;
    height: 490px;

    // this playing with height is required to keep the point-container
    // always at the bottom at the same spot, regardless of lenght of
    // content

    @include tablet {
      margin: $gutter;
      height: 760px;
    }

    @media (max-width: 420px) {
      height: 775px;
    }

    @media (max-width: 375px) {
      height: 795px;
    }

    @media (max-width: 330px) {
      height: 830px;
    }

    .active-slide {
      display: flex;
      flex-direction: row;
      margin: $gutter;

      @include tablet {
        flex-direction: column;
      }

      .gallery-graphic {
        width: 50%;
        min-width: 475px;
        padding-right: $gutter;

        @include tablet {
          text-align: center;
          margin: auto;
          padding-right: 0;
          min-width: 70%;
        }

        @include phone {
          min-width: 80%;
        }
      }

      .gallery-messaging {
        width: 50%;

        .gallery-text {
          .gallery-heading {
            text-transform: uppercase;
            color: $color-heading;
            letter-spacing: 2px;

            @include tablet {
              margin-top: $gutter;
              text-align: center;
              .title {
                line-height: 1.2;
              }
            }
          }

          .gallery-title {
            line-height: 1.2;
            padding: $gutter/4 0;
          }

          .gallery-description {
            margin-top: $gutter/2;
            margin-bottom: $gutter;

            p {
              margin: $gutter/4 0;
            }

            p + p {
              padding-top: 0;
            }
          }

          .cta-buttons a {
            margin-top: 0;
            margin-bottom: 0;
          }
        }

        @include tablet {
          width: 100%;
          text-align: center;
        }
      }
    }

    .inactive-slide {
      display: none;
    }

    .point-container {
      position: absolute;
      bottom: 0;
      left: calc(50% - 45px);

      .inactive-point {
        background-color: $point-color;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        margin: 10px;
        display: inline-block;

        &:hover {
          cursor: pointer;
        }
      }

      .active-point {
        @extend .inactive-point;
        background-color: darken($color: $point-color, $amount: 30);
      }
    }
  }
}
