.graphic-left-copy-right-container {
  padding: $gutter 0;
  margin: $gutter 0;

  .graphic-left-copy-right {
    display: flex;
    flex-direction: row;
    max-width: $global-width;
    margin: auto;

    @include tablet {
      flex-direction: column;
      height: auto;
    }

    .content-container {
      display: flex;
      flex-direction: row;

      .graphic-container {
        margin: auto;
        padding: $gutter;
        padding-left: 0;
        min-width: 50%;

        @include tablet {
          display: none;
        }
      }

      .copy-wrapper {
        display: flex;
        justify-content: center;
        min-width: 50%;

        @include tablet {
          padding-left: 0;
        }

        .copy-container {
          display: flex;
          flex-direction: column;
          padding: $gutter;
          margin-top: 0;
          text-align: left;

          .cta-buttons {
            .button {
              @include tablet {
                margin: auto;
              }
            }
          }

          p {
            margin: 0;
          }

          h1 {
            text-align: left;
            @include tablet {
              text-align: center;
            }
          }

          .subtitle {
            margin: $gutter 0;
            text-align: left;
          }

          @include tablet {
            margin-top: $gutter;
          }
        }
      }
    }
  }
}
