.graphic-left-copy-right-container {
  padding-bottom: $space-between/2;
  .graphic-left-copy-right {
    display: flex;
    flex-direction: row;
    max-width: $global-width;
    margin: auto;

    @include tablet {
      flex-direction: column;
      height: auto;
    }
    .content-container {
      display: flex;
      flex-direction: row;
      img {
        @include tablet {
          display: none;
        }
      }
      @include tablet {
        flex-direction: column;
      }
      .copy-wrapper {
        display: flex;
        justify-content: center;
        padding-left: $gutter * 2;
        min-width: 50%;
        @include tablet {
          padding-left: 0;
        }
        a {
          width: 250px;
          margin-top: -20px;
          @include tablet {
            margin: auto;
          }
        }
        .copy-container {
          display: flex;
          flex-direction: column;
          margin: $gutter/2;
          margin-top: 0;
          justify-content: center;
          @include tablet {
            text-align: center;
            ul {
              padding-bottom: $gutter;
              padding-left: $gutter * 5;
            }
            margin-top: $gutter;
          }
        }
      }
    }
  }
}
