$hero-content-space: 60px;

.cs-product-hero {
  margin-bottom: 240px;
}

#privacy-policy-subtitle {
  color: $color-rhino-dark;
  text-align: center;
}

.padded {
  padding-top: 140px;
  @include tablet {
    padding-top: 0;
  }
}

#privacy-policy-title {
  color: white;
  text-align: center;
  font-size: 40px;
  padding-top: 180px;

  @include tablet {
    padding-top: 30px;
  }
}

#privacy-policy-hero {
  width: 100%;
  margin: auto;

  @include media('<1100px') {
    padding-top: $gutter * 5;
  }

  @include phone {
    padding-top: 0;
    margin: 0;
  }
}
#privacy-policy-bg {
  background: linear-gradient(#88d2ff, #120e6a);
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    background-size: auto;
  }

  @include phone {
    background-size: inherit;
  }
}

.hero-container {
  background: #00004f;

  .hero {
    display: flex;
    max-width: $global-width;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-height: 850px;
    min-height: 560px;
    padding-top: $gutter * 3.5;

    @include tablet {
      flex-direction: column;
      height: auto;
    }
    @include phone {
      height: 100vh;
    }

    .hero-left {
      display: flex;
      width: 50%;
      flex-direction: column;
      padding: $gutter;
      height: 375px;
      .dash-stars-wrapper {
        padding-top: $gutter/2;
        width: 140px;

        @include media('<1100px') {
          margin: auto;
        }

        iframe {
          margin: auto;
        }
      }

      .cta-buttons {
        @media (max-width: $shrink-hero-breakpoint) {
          flex-direction: column;

          a {
            margin: auto;
            margin-top: $gutter;
          }
          margin-bottom: $gutter * 2;
        }
      }

      @include media('<1100px') {
        height: auto;
      }

      @include tablet {
        width: 100%;
        margin-right: 0;
        padding-top: $gutter * 3.5;
      }

      @include phone {
        padding: calc(#{$hero-content-space} * 0.05);
        padding-top: $gutter * 3.5;
      }
    }

    .hero-right {
      width: 50%;
      padding: 0 $hero-content-space;
      margin-bottom: $gutter;

      @media (max-width: $shrink-hero-breakpoint) {
        display: none;
      }

      img {
        margin: auto;

        @media (max-width: $shrink-hero-breakpoint) {
          display: none;
        }
      }
    }
  }
}

#cs-hero {
  background: #00004f;
}
