.hero {
  display: flex;
  background: #00004f;
  justify-content: center;
  align-items: center;
  height: 90vh;
  @include tablet {
    flex-direction: column;
    height: auto;
    padding-top: 100px;
  }
  .hero-left {
    display: flex;
    width: 50%;
    margin: 60px;
    padding-top: 50px;
    flex-direction: column;
    @include tablet {
      margin: auto;
      width: 100%;
    }
    .cta-buttons {
      @include tablet {
        margin: auto;
      }
    }
    .github-stars {
      @include tablet {
        margin: auto;
      }
    }
  }
  .hero-graphic-container {
    margin: auto;
    .hero-right {
      margin: $gutter * 2;
      img {
        @include large-display {
          max-width: 1000px;
        }
      }
    }
  }
}
#cs-hero {
  background: #00004f;
}
.cs-product-hero {
  margin-bottom: 240px;
}
