$hero-content-space: 60px;

.cs-product-hero {
  margin-bottom: 240px;
}

#privacy-policy-subtitle {
  color: $color-rhino-dark;
  text-align: center;
}

.padded {
  padding-top: 100px;
  @include tablet {
    padding-top: 0;
  }
}

#privacy-policy-title {
  color: white;
  text-align: center;
  font-size: 40px;
  padding-top: 180px;

  @include tablet {
    padding-top: 30px;
  }
}

#privacy-policy-hero {
  width: 100%;
  margin: auto;
  @include media('<=1100px') {
    padding-top: $gutter * 5;
  }
  @include phone {
    padding-top: 0;
    margin: 0;
  }
}

#privacy-policy-bg {
  background: linear-gradient(#88d2ff, #120e6a);
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    background-size: auto;
  }

  @include phone {
    background-size: inherit;
  }
}

.hero-container {
  background: #00004f;
  padding-top: 66px;

  .promobanner {
    @media (max-width: $shrink-hero-breakpoint) {
      font-size: 12px;
      padding-top: 9px;
    }
    @include phone {
      font-size: 10px;
      padding-top: 9px;
    }
    @include media('<420px') {
      height: 62px;
    }
    height: 42px;
    background: #119dff;
    color: white;
    padding-top: 8px;
    text-align: center;
    p {
      margin: 0;
      a,
      a:hover,
      a:visited {
        padding-left: 10px;
        color: white !important;
        text-decoration: underline !important;
        text-transform: uppercase;
      }
      @include phone {
        width: 80%;
        margin: auto;
      }
    }
  }

  .hero {
    max-width: $global-width;
    margin: auto;
    max-height: 850px;

    display: flex;
    flex-direction: column;
    .hero-top {
      display: flex;

      .hero-left {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        margin: $gutter;
        margin-bottom: 0;
        padding: $gutter;
        padding-left: 0;
        padding-top: 0;

        .dash-stars-wrapper {
          height: 40px;
          padding-top: $gutter/2;
          margin-top: $gutter;

          width: 140px;
          @include media('<=1100px') {
            margin: auto;
          }
          @include phone {
            margin-bottom: $gutter;
          }
          iframe {
            margin: auto;
          }
        }

        .cta-buttons {
          margin-top: $gutter/2;

          .button {
            height: 40px;
            margin-bottom: $gutter;
          }
          @media (max-width: $shrink-hero-breakpoint) {
            flex-direction: column;
            a {
              margin: auto;
            }
          }
        }

        @include media('<=1100px') {
          width: 100%;
          margin: auto;
          margin-right: 0;
          padding: $gutter;
        }
      }

      .hero-right {
        width: 50%;
        align-self: flex-start;
        margin: $gutter;
        margin-bottom: 0;
        padding: $gutter;
        @media (max-width: $shrink-hero-breakpoint) {
          display: none;
        }
        img {
          margin: auto;
          @media (max-width: $shrink-hero-breakpoint) {
            display: none;
          }
        }
      }
    }
    .hero-logos {
      margin: $gutter;
      padding-bottom: $gutter * 1.5;
      margin-bottom: 0;
      margin-top: 0;
      display: flex;
      justify-content: space-evenly;
      .hero-logo-item {
        height: 45px;
        @include tablet {
          height: 25px;
        }
      }
    }
  }
}

#cs-hero {
  background: #00004f;
}
