.huge-background-image {
  display: flex;
  flex-direction: column;
  padding-bottom: $gutter;
  align-items: center;
  margin: auto;
  width: 100%;
  background-size: contain;

  .addons-messaging {
    display: flex;
    z-index: 1;
    flex-direction: column;
    box-shadow: 4px 4px 14px rgba(#ebf0f8, 0.7);
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 0.9;
    align-self: center;
    width: 65%;
    margin: 8% auto 6% auto;

    @include tablet {
      width: auto;
      margin: 20% auto;
    }

    .addons-title {
      text-align: center;
      @include tablet {
        line-height: 1.2;
      }
    }

    .addons-copy {
      text-align: center;
      width: 60%;
      margin: auto;
    }

    .cta-buttons {
      opacity: 1 !important;
      a {
        margin: auto;
      }
    }
  }
}
