.huge-background-image {
  display: flex;
  flex-direction: column;
  padding-bottom: $gutter;
  .addons-graphic {
    z-index: 0;
    width: 100%;
    img {
      margin: auto;
    }
  }
  .addons-messaging {
    display: flex;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    box-shadow: 4px 4px 14px rgba(#ebf0f8, 0.7);
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 0.9;
    align-self: center;
    width: 600px;
    margin-top: 7%;
    @include tablet {
      margin-top: 0;
      width: auto;
      position: relative;
    }
    .addons-title {
      text-align: center;
      @include tablet {
        line-height: 1.2;
      }
    }
    .addons-copy {
      text-align: center;
      width: 60%;
      margin: auto;
    }
    .cta-buttons {
      opacity: 1 !important;
      a {
        margin: auto;
      }
    }
  }
}
