.os {
  display: flex;
  @include tablet {
    flex-direction: column;
  }
  .os-left-container {
    width: 50%;
    @include tablet {
      width: 100%;
    }
    .os-left {
      display: flex;
      flex-direction: column;
      margin: $gutter * 5;
      @include tablet {
        margin: $gutter;
      }
      .os-gh-stars {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include tablet {
          flex-direction: column;
          margin: auto;
          .github_stars__item__label {
            text-align: center;
          }
        }
      }
      .os-title {
        @include tablet {
          text-align: center;
          line-height: 1;
        }
      }
      .os-messaging {
        @include tablet {
          text-align: center;
        }
      }
    }
  }
  .os-right-container {
    display: flex;
    justify-content: center;
    width: 50%;
    @include tablet {
      width: 100%;
    }
    background: #f2f5fa;
    .os-right {
      margin: $gutter * 2;
      .os-logo-title {
        text-align: center;
        line-height: 1;
        font-size: 26px;
      }
      .os-messaging,
      .os-subtitle {
        padding-bottom: $gutter/2;
        text-align: center;
      }
      .logo-container {
        .container-left {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: auto;
          padding-top: 30px;
          @include tablet {
            flex-direction: row;
            justify-content: center;
          }
          .left-logo {
            max-width: 180px;
            justify-content: center;
            margin: auto;
            padding-bottom: 60px;
            margin-right: 10%;
            @include phone {
              margin-right: 0;
              margin: auto;
            }
            @include tablet {
              max-width: 130px;
              margin: auto;
              padding: 0;
            }
          }
        }
        .container-right {
          display: none;
          margin: $gutter;
          padding-bottom: $gutter * 8;
        }
      }
    }
  }
}
