.overlap-graphic-container {
  .overlap-graphic {
    max-width: $global-width;
    margin: auto;
    .overlap-graphic-img-container {
      img {
        width: 80%;
      }
      @include tablet {
        img {
          width: 100%;
        }
      }
    }
    .overlap-copy-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .overlap-copy {
        box-shadow: 4px 4px 14px rgba(#ebf0f8, 0.7);
        background: white;
        opacity: 0.95;
        padding: $gutter;
        width: 55%;
        transform: translateY(-155%);
        margin-bottom: -300px;
        @include media('<1200px') {
          transform: translateY(-150%);
          width: 60%;
        }
        @include tablet {
          transform: translateY(-80%);
          width: 80%;
          margin: auto;
          margin-bottom: -340px;
        }
        @include phone {
          transform: none;
          width: 100%;
          margin-bottom: 0;
        }
        .title {
          padding-bottom: 0;
        }
        .pretitle {
          padding-top: 20px;
        }
        .subtitle,
        .title,
        .pretitle {
          @include media('<1300px') {
            text-align: left;
          }
          @include tablet {
            text-align: center;
          }
          .subtitle {
            @include tablet {
              width: 80%;
            }
          }
        }
      }
    }
  }
}
#dash-design-kit {
  transform: translateY(110%);
  margin-bottom: -200px;
  @include tablet {
    margin-bottom: 200px;
  }
  @include phone {
    transform: none;
    margin-bottom: 100px;
  }
}
