.overlap-graphic {
  margin: $gutter;
  .overlap-graphic-section {
    display: flex;
    flex-direction: row;
    @include media('<1300px') {
      flex-direction: column;
    }
    margin: $gutter;
    .overlap-copy-container {
      display: flex;
      align-items: center;
      .overlap-copy {
        width: 100%;
        box-shadow: 4px 4px 14px rgba(#ebf0f8, 0.7);
        background: white;
        opacity: 0.95;
        padding: $gutter;
        transform: translateX(-15%);
        @include media('<1300px') {
          margin: auto;
          padding: $gutter;
          transform: translateX(0%);
        }
        @include phone {
          padding: 0;
          transform: none;
        }
        .subtitle,
        .title,
        .pretitle {
          @include media('<1300px') {
            text-align: center;
          }
        }
        .cta-buttons {
          a {
            @include media('<1300px') {
              margin: auto;
            }
            @include tablet {
              margin-top: $gutter;
            }
          }
        }
      }
    }
  }
}
