.github_stars {
  $c: &;

  order: 100 !important;

  &.align-start {
    #{$c}__wrapper {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      #{$c}__item {
        align-self: flex-start;
        flex-grow: 0;
        padding-left: 0;
      }
      @include media('<=1200px') {
        justify-content: center;
      }
    }
  }
  #{$c}__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #{$c}__item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__label {
      padding-bottom: $unit;
    }
  }
  @at-root .hero-prismic-layout--row {
    #{$c}__wrapper {
      justify-content: flex-start;
    }
    #{$c}__item {
      flex-grow: 0;
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}

.content-section-p {
  &.cs-github-stars {
    .content-section-p-area {
      padding-bottom: 0 !important;
    }
  }
}

.github-stars {
  order: 100;
  width: 100%;
  @include global-wrapper;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: $unit * 4;
  padding-top: $unit * 2;
  & ~ .content-section-p-area {
    padding-top: $unit * 4 !important;
  }
}
