.content-section-p {
  &.cs-pricing {
    padding-bottom: $unit*8;
    .content-section-p-wrapper {
      min-height: 200px;
      .content-section-p-area {
        padding-top: $unit*8 !important;
      }
    }
  }
}

.pricing__cards {
  $c: &;
  width: 100%;
  position: relative;
  z-index: 5;
  display: flex;
  margin-top: $unit*5;
  @include media('<=800px') {
    margin-top: 0;
  }
  #{$c}__wrapper {
    flex-grow: 1;
    //display: flex;
    padding: $unit*2;
    @include global-wrapper;
    //justify-content: center;
    padding-left: $unit*4;
    padding-right: $unit*4;
    //display: grid;
    //grid-column-gap: $unit*2;
    //grid-row-gap: $unit*2;
    //grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    display: flex;
    flex-wrap: wrap;
    @include media('<=800px') {
      padding-left: $unit*2;
      padding-right: $unit*2;
    }
  }
}

.pricing__card {
  --header-bg: $color-rhino-core;
  $c: &;
  flex-grow: 1;

  &:not(:first-child) {
    padding-left: $unit*2;
    @include media('<=1385px') {
      &:nth-of-type(odd) {
        padding-left: 0;
      }
    }
    @include media('<=800px') {
      padding-left: 0;
    }
  }

  @include media('<=1385px') {
    //grid-template-columns: repeat(auto-fill, minmax(33%, 2fr));
    width: 50% !important;
    margin-bottom: $unit*2;
  }
  @include media('<=800px') {
    width: 100% !important;
  }

  &--emerald {

    .pricing__card__header__title{
      background: $color-emerald;
    }

    @include media('>1385px') {
      transform: translateY(-20px);
    }
  }

  &--has-pretitle {
    @include media('<=1385px') {
      margin-top: $unit*2;
    }
  }

  #{$c}__wrapper {
    box-shadow: $drop-shadow-l-light;
    border-radius: 8px;
    background: white;
    position: relative;
  }

  #{$c}__header {
    position: relative;

    &__pretitle {
      position: absolute;
      width: 100%;
      left: 0;
      top: -30px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.75;
      h3 {
        font-size: 16px !important;
        text-align: center !important;
      }
    }

    &__title {
      background: $color-rhino-core;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $unit;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      h2 {
        color: white;
      }
    }
    &__price {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $unit*4 $unit*2;
      h2 {
        font-size: 42px;
      }
      .price {
        &__symbol {
          color: $color-rhino-medium-1;
        }
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 $unit*2;
      padding-bottom: $unit*2;
    }
  }

  #{$c}__features {
    border-top: 1px solid $color-rhino-light-2;
    padding-bottom: 1px;
  }

  #{$c}__feature {
    text-align: center;
    padding: 0 $unit*2;
    &:not(:last-child) {
      border-bottom: 1px solid $color-rhino-light-2;
    }
  }
}
