.pricing__cards__content-section {
  display: flex;
  .pricing__card__wrapper {
    margin: auto;
    width: 80%;
    @include media('<800px') {
      width: 100%;
    }

    .pricing__card__header__and__features__section {
      display: flex;
      box-shadow: 0px 2px 14px rgba($color-rhino-dark, 0.2);
      margin-bottom: $gutter * 2;
      @include media('<800px') {
        flex-direction: column;
      }
      .pricing__card__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        @include media('<800px') {
          padding-bottom: 40px;
          margin: auto;
        }
        .pricing__card__header__title {
          h2 {
            width: 270px;
            color: $color-rhino-dark;
            margin-left: 20px;
            margin-right: 20px;
            text-transform: uppercase;
            line-height: 1.1;
            text-align: center;
            padding-bottom: 20px;
            padding-top: 40px;
            @include media('<800px') {
              padding-top: 40px;
            }
          }
        }
        .pricing__card__header__price {
          h2 {
            font-size: 42px;
            color: $color-dodger;
            padding-bottom: 20px;
          }
          .price {
            &__symbol {
              color: $color-dodger;
            }
          }
        }
        .pricing__card__header__frequency {
          font-size: 0.8rem;
          padding-bottom: 10px;
          text-align: center;
          @include media('<800px') {
            margin: auto;
          }
          h2 {
            color: $color-rhino-dark;
          }
        }
      }
      .pricing__card__features {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: left;
        background-color: $color-rhino-light-4;
        border-left: 5px solid $color-dodger;
        padding-top: 30px;
        padding-bottom: 30px;
        @include media('<800px') {
          width: 100%;
          padding-top: 30px;
          border-top: 5px solid $color-dodger;
          border-left: none;
          text-align: center;
        }
        .pricing__card__feature {
          display: flex;
          flex-direction: row;
          width: 90%;
          @include media('<800px') {
            flex-direction: column;
          }
          .pricing__card__feature__text {
            padding-left: 15px;
            @include media('<800px') {
              justify-content: flex-start;
              padding-left: 0px;
            }
          }
          .pricing__card__feature__image {
            justify-items: center;
            padding-top: 20px;
            @include media('<800px') {
              margin: auto;
            }
          }
        }
      }
    }
    .cta-buttons {
      margin: auto;
      width: 200px;
    }

    .pricing__card__addons__section {
      display: flex;
      z-index: 15;
      flex-direction: column;
      margin-top: $gutter * 2;
      @include media('<800px') {
        flex-direction: column;
      }
      .pricing__card__addons__section__label {
        display: flex;
        justify-content: center;
        width: 100%;
        color: $color-rhino-core;
        font-size: 22px;
        text-transform: uppercase;
        @include media('<800px') {
          padding-bottom: 40px;
          text-align: center;
        }
      }
      .pricing__card__addons__section__addons_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include media('<800px') {
          flex-direction: column;
          margin: auto;
        }
        .pricing__card__addon {
          box-shadow: 0px 2px 14px rgba($color-rhino-dark, 0.2);
          margin: 20px;
          display: flex;
          width: 35vw;
          flex-direction: column;
          @include media('<800px') {
            width: 80%;
            margin: auto;
            margin-bottom: 40px;
          }
          .pricing__card__addon__image {
            padding-top: 50px;
            padding-bottom: 10px;
            margin: auto;
            img {
              height: 30px;
            }
          }
          .pricing__card__addon__title {
            margin: auto;
            font-size: 1.2rem;
            line-height: 1.333;
            color: $color-rhino-core;
            @include media('<1200px') {
              text-align: center;
            }
          }
          .pricing__card__addon__price {
            margin: auto;
            font-size: 1.5rem;
            font-weight: bold;
            font-family: 'Dosis';
            padding-bottom: 10px;
            padding-top: 10px;
            color: $color-dodger;
          }
          .pricing__card__addon__price:after {
            content: ' / per year';
            font-size: 1rem;
            font-weight: normal;
          }
          .pricing__card__addon__contact__us {
            margin: auto;
            font-size: 2rem;
            font-weight: bold;
            font-family: 'Dosis';
            padding-bottom: 10px;
            padding-top: 10px;
            color: $color-dodger;
          }
          .pricing__card__addon__description {
            margin: auto;
            font-size: 0.9rem;
            padding-top: 10px;
            line-height: 1rem;
            text-align: center;
            padding-bottom: 20px;
            width: 80%;
            font-family: 'Ubuntu', sans-serif;
          }
          .pricing__card__addon__url {
            color: $color-aqua-shade;
            text-decoration: underline !important;
          }
          .pricing__card__addon__cta {
            margin: auto;
            padding-bottom: 50px;
            font-size: 0.8rem;
            font-weight: 900;
            a {
              button {
                background-color: $color-dodger;
                color: white;
                padding: 5px 10px;
              }
            }
          }
        }
      }
    }
  }
}
