.advanced-cards {
  $c: &;
  #{$c}__wrapper {
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-between;

    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(580px, 1fr));
    @include media('<=600px') {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }
  order: 10;
}

.card {
  $c: &;
  margin: $unit*2;
  margin-bottom: 0;
  padding-bottom: $unit*2;
  display: flex;
  transform: translate3d(0, 0, 0);
  //width: calc(50% - #{$unit*4});

  @include media('>900px') {
    &:nth-of-type(odd) {
      margin-left: 0;
      #{$c}__details,
      #{$c}__body {
        padding-left: 0;
      }
    }
    &:nth-of-type(even) {
      margin-left: 0;
      #{$c}__details,
      #{$c}__body {
        padding-left: 0;
      }
    }
  }
  @include media('<=900px') {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  @include media('<=600px') {
    padding-bottom: $unit*6;

    &:first-of-type {
      margin-top: 0;
    }
  }
  #{$c}__wrapper {
    @include trans;
    transform: translate3d(0, 0, 0);
    transition-duration: 1s;

    @include media('<=1150px') {
      flex-direction: column;
    }
    @include media('<=900px') {
      flex-direction: row;
    }
    @include media('<=600px') {
      flex-direction: column;
    }
  }
  &--with-blur {
    border-bottom: 1px solid $color-rhino-light-1;
    #{$c}__wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
    }
    #{$c}__body {
      width: 60%;
    }
  }

  #{$c}__image {
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    position: relative;
    transform: translate3d(0, 0, 0);
    @include trans;
    transition-duration: 1s;
    background: transparent !important;
    width: 40%;
    @include media('<=1150px') {
      width: 100%;
    }
    @include media('<=900px') {
      width: 40%;
    }
    @include media('<=600px') {
      width: 100%;
    }
    &::after {
      position: absolute;
      content: '';
      display: none;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0.85;
      background-image: linear-gradient(
        145deg,
        #3b9aca 0%,
        #2d6ca5 39%,
        #222654 100%
      ) !important;
    }
  }

  #{$c}__section {
    flex-grow: 1;
    &:first-child {
      min-width: 300px;
      margin-right: $unit*2;
    }
  }

  #{$c}__details {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    padding: $unit*2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;

    @include media('<=1150px') {
      flex-direction: row;
      min-height: 0;
    }
    @include media('<=900px') {
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
      min-height: 200px;
    }

    @include media('<=600px') {
      flex-direction: row;
      min-height: 0;
    }
    .logo {
      opacity: 0.5;
      mix-blend-mode: multiply;
      max-width: 80px;
      width: 80px;
    }
    &__meta {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }
    &__action {
      a {
        color: white !important;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  #{$c}__title {
    position: relative;
    h2 {
      position: relative;
      z-index: 4;
      color: currentColor;
      @extend .title-sm;

      span {
        box-decoration-break: clone;
      }
    }
  }
  #{$c}__subtitle {
    @at-root .content-section-p-style--gradient_purple & {
      h3 {
        opacity: 1;
        //color: $color-aqua !important;
        position: relative;
        padding-left: $unit*1.5;

        &::before {
          position: absolute;
          content: '';
          background: $color-aqua;
          $size: 10px;

          width: $size;
          height: $size;
          border-radius: 100%;
          left: 0;
          top: calc(50% - #{$size/2});
        }
      }
    }
    margin-top: $unit;
    h3 {
      color: currentColor;
      opacity: 0.7;
    }
  }
  #{$c}__body {
    @include trans;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 $unit*2;
    padding-top: $unit;
    flex-grow: 1;
    transform: translate3d(0, 0, 0);
    @include media('<=900px') {
      padding-left: 0;
      padding-right: 0;
    }
    position: relative;
    @include media('<=1150px') {
      padding-top: 0;
      width: 100%;
    }
    @include media('<=900px') {
      padding-top: $unit;
      width: 60%;
    }
    @include media('<=600px') {
      padding-top: 0;
      width: 100%;
    }
    &__content {
      filter: blur(0px);
      will-change: filter;
      @include trans;
      transition-duration: 1s;
    }

    &__actions {
      transform: translateY(#{$unit});
      .buttons {
        flex-wrap: wrap;
        @include media('>900px') {
          justify-content: center;
        }
      }
      .button {
        @include media('>600px') {
          margin-left: 0 !important;
          margin-bottom: $unit;
          margin-right: $unit;
        }
      }
      .button-label {
        white-space: nowrap;
      }
      @include media('>900px') {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        padding: $unit*2;
        @include trans;
        transition-duration: 1s;
      }
    }
    p {
      opacity: 0.8;
      font-weight: 300;
    }
  }
  &.card--with-blur {
    #{$c}__title {
      position: relative;
      text-shadow: 1px 3px 0 white;
      &::before {
        position: absolute;
        content: '';
        background: $color-dodger;
        height: 2px;
        width: 100%;
        bottom: 0px;
      }
    }
    &:hover {
      @include media('>900px') {
        #{$c}__wrapper {
          transform: translateY(-6px);
        }
        #{$c}__image {
        }
        #{$c}__body__content {
          transform: scale(0.95);
          filter: blur(10px);
        }
        #{$c}__body__actions {
          opacity: 1;
        }
      }
    }
  }
}
