.pricing__cards__content-section {
  display: flex;
  flex-direction: column;
  .pricing__card__title {
    background: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-size: 1.7rem;
    padding-bottom: 10px;

    h2 {
      color: $color-rhino-core;
      text-transform: uppercase;
      text-align: left;
      line-height: 1.1;
      width: auto;
      border-bottom: 6px solid $color-rhino-core;
      display: table;
    }
    @include tablet {
      margin: auto;
    }
  }

  .pricing__card__wrapper {
    display: flex;
    @include tablet {
      flex-direction: column;
    }
    padding-bottom: 50px;

    padding-top: 15px;
    .pricing__card__header__and__features__section {
      width: 75vw;
      @include tablet {
        width: calc(100% - 5px);
      }
      .pricing__card__header {
        .pricing__card__header__price {
          display: flex;
          justify-content: center;
          padding: $unit * 2 0;
          h2 {
            font-size: 42px;
          }
          .price {
            &__symbol {
              color: $color-rhino-medium-1;
            }
          }
          @include tablet {
            width: 90vw;
          }
        }
        .pricing__card__header__frequency {
          background: white;
          display: flex;
          font-size: 0.6rem;
          padding-bottom: 10px;
          justify-content: center;
          h2 {
            color: $color-rhino-dark;
            text-transform: uppercase;
          }
          @include tablet {
            width: 90vw;
          }
        }
        .pricing__card__header__actions {
          justify-content: center;
          @include tablet {
            width: 90vw;
          }
        }
      }
      .pricing__card__features {
        font-family: sans-serif;
        font-weight: 400;
        margin: auto;
        .pricing__card__feature {
          text-align: center !important;
          &:not(:last-child) {
            border-bottom: 2px solid $color-rhino-light-2;
          }
          @include tablet {
            padding-left: 0px;
          }
        }
      }
    }
    .pricing__card__addons__section {
      background: #f1f4f9;
      align-items: stretch;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 40px 40px 0;
      position: relative;
      width: calc(100% - 5px);
      z-index: 15;

      @include tablet {
        flex-direction: column;
        align-items: center;
        text-align: center !important;
      }
      @include handheld {
        flex-direction: none;
        height: 700px;
      }
      .pricing__card__addons__section__label {
        color: $color-rhino-core;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        font-size: 14px;
        position: relative;
        width: 100%;
        padding-left: 9px;

        text-transform: uppercase;
        height: 30px;
        @include tablet {
          padding-bottom: 80px;
        }
      }
      .pricing__card__addons__section__label::before {
        color: #fff;
        background: $color-emerald;
        border-radius: 100%;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
        content: '+';
        display: block;
        font-size: 20px;
        line-height: 40px !important;
        height: 40px;
        left: -40px;
        top: 15px;
        position: absolute;
        text-align: center;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 40px;
      }
      .pricing__card__addon {
        flex-shrink: 0;
        margin: 10px;
        width: calc(33.33% - 20px);
        @include tablet {
          width: 100%; /* Change this to whatever width you want. */
        }
        .pricing__card__addon_title {
          font-size: 1rem;
          padding-bottom: 10px;
          line-height: 1.333;
          color: $color-rhino-dark;
          border-bottom: 3px solid $color-dodger;
          display: table;
          @include tablet {
            margin: auto;
          }
        }
        .pricing__card__addon_price {
          font-size: 2rem;
          font-weight: bold;
          font-family: 'Dosis';
          padding-bottom: 10px;
          padding-top: 10px;
          color: #506784;
        }
        .pricing__card__addon_price:after {
          content: ' per year';
          font-size: 1rem;
          font-weight: normal;
        }
        .pricing__card__addon_description {
          font-size: 0.7rem;
          padding-top: 10px;
          font-family: sans-serif;
        }
        .pricing__card__addon_url {
          color: $color-aqua-shade;
          text-decoration: underline !important;
        }
      }
    }
  }
}
