.two-column-container {
  padding-top: $space-between * 2;
  padding-bottom: $space-between;
  background: right/45% no-repeat
    url(https://prismic-io.s3.amazonaws.com/plotly%2F361234a1-3a63-4f39-8306-641d67af78a4_circle+background.png);
  @include tablet {
    background: bottom/85% no-repeat
      url(https://prismic-io.s3.amazonaws.com/plotly%2F361234a1-3a63-4f39-8306-641d67af78a4_circle+background.png);
  }
  @include phone {
    background: bottom/85% no-repeat
      url(https://prismic-io.s3.amazonaws.com/plotly%2F361234a1-3a63-4f39-8306-641d67af78a4_circle+background.png);
    background-position: right 25px bottom 80px;
  }
  .two-column {
    display: flex;

    @include tablet {
      flex-direction: column;
    }
    max-width: $global-width;
    margin: auto;
    .os-left-container {
      width: 50%;
      @include tablet {
        width: 100%;
      }
      .os-left {
        display: flex;
        flex-direction: column;
        margin: $gutter;
        margin-top: 0;
        .hero-title {
          text-align: left;
          margin: 0;
          @include tablet {
            text-align: center;
            margin: auto;
          }
        }

        .os-messaging {
          width: 70%;
          @include tablet {
            text-align: center;
            width: 70%;
            margin: auto;
          }
        }
      }
    }
    .os-right-container {
      display: flex;
      justify-content: center;
      width: 50%;

      @include tablet {
        width: 100%;
      }
      .os-right {
        margin: $gutter * 2;
        margin-top: 0;
        margin-bottom: 0;
        .os-logo-title {
          text-align: center;
          line-height: 1;
          font-size: 26px;
        }
        .os-messaging,
        .os-subtitle {
          padding-bottom: $gutter/2;
          text-align: center;
        }
        .logo-container {
          .container-left {
            .left-logo {
              justify-content: center;
              margin: auto;
            }
          }
          .container-right {
            display: none;
            margin: $gutter;
            padding-bottom: $gutter * 8;
          }
        }
      }
    }
  }
}
