@import "main";
@import url('https://fonts.googleapis.com/css?family=Dosis:300,500|Ubuntu:300,300i,400,400i,700,700i');

html {
  background: $color-rhino-light-2;
}

body {
  &.no-scroll {
    overflow: hidden;
  }
}

.page {
  background: white;
  background-size: cover;
  min-height: 100vh;
}

a {
  text-decoration: none;
  &:not(.button):not(.nav-item-wrapper):not(.card):not(.navigation-product-item) {
    text-decoration: none;
    color: $color-lavender;
    background-repeat: repeat-x;
    background-size: 3px .16em;
    background-position: 0 1.245em;
    font-weight: 500;
    &:link {
      color: $color-lavender;
      background-image: linear-gradient(to bottom, rgba($color-lavender, 0.5) 50%, rgba(0, 0, 0, 0) 50%);
    }
    &:hover:not(.card-action-link) {
      color: rgba($color-dodger, 0.8) !important;
      background-image: linear-gradient(to bottom, rgba($color-dodger, 0.3) 50%, rgba(0, 0, 0, 0) 50%);
    }
    &:visited {
      background-image: linear-gradient(to bottom, currentColor 50%, rgba(0, 0, 0, 0) 50%);
      color: $color-lavender;
    }
    &:active {
      color: $color-aqua;
      //background-image: linear-gradient(to bottom, currentColor 50%, rgba(0, 0, 0, 0) 50%);
    }
  }
}

.page {
  overflow: hidden;
  @include handheld {
    //padding-top:72px;
  }
}

.hidden {
  opacity: 1 !important;
}

.animateIn {
  //@include animationFadein-sm;
}

* {
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.not-mobile {
  @include handheld {
    display: none;
  }
}

.bottom-light-bg {
  position: relative;
  &::before{
    content: '';
    position: absolute;
    bottom:0;
    height:200px;
    background: #f2f4f5;
    left:0;
    width: 100%;
  }
}

.desktop-only{
  @include tablet{
    display: none !important;
  }
}
.mobile-only{
  @include desktop{
    display: none;
  }
}

.cards-narrative{
  @include handheld{
    display: block;
  }
  .card{
    max-width:calc(33.333% - 60px);
    width:calc(33.333% - 60px);
    min-width: 0 !important;
    padding-right:$gutter*2;
    //max-width:calc(33.333% - 60px);
    display: flex;
    &-wrapper{
      flex:1;
    }

    @include tablet{
      max-width:calc(50% - 60px);
      width:calc(50% - 60px);
    }
    @include handheld{
      max-width:calc(100%);
      width:calc(100%);
    }
  }
}


.enterprise-card {
  flex-grow: 1;
  width: calc(50% - 40px);
  margin: $unit;
  display: flex;
  position: relative;
  min-height: 275px;
  overflow: hidden;
  border-radius: 8px;

  @include media('<=580px') {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .enterprise-card-hover {
    @include trans;
    //opacity:0;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: $gutter;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    color: white;
    z-index: 3;
    .enterprise-card-cta {
      transform: translateY(20px);
      opacity: 0;
      @include trans;
    }
  }
  &:hover {
    @include media('>580px') {
      cursor: pointer;
      .enterprise-card-details {
        border-left: 16px solid $color-dodger;
      }
      .enterprise-card-hover {
        opacity: 1;

        .enterprise-card-cta {
          transform: none;
          opacity: 1;
        }

      }
    }

  }
  &-wrapper {
    flex-grow: 1;

  }
  &-details {
    border-left: 0px solid $color-dodger;
    @include trans;
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: $gutter;
    padding-right: $gutter*8;

    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  &-title {
    color: white;
    font-size: 34px;
    line-height: 42px;
    font-family: 'Dosis';
    text-align: left;
  }

  &-image {
    z-index: 1;
    border-radius: 8px !important;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-background-size: cover;
    background-size: cover;
    //box-shadow: $drop-shadow-l-light;
  }
}

.industries-hero{
  min-height: 0 !important;
}

.header-message{
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:$unit/1.5;
  text-shadow: $text-shadow-default;
  position: absolute;
  top:0px;
  left:0;
  z-index:99;
  width: 100%;
  @include tablet{
    display: none;
  }
  &-wrapper{
    @include global-wrapper;
    font-size:14px;
    color: rgba(white, 0.85);
    a{
      background: white;
      color: $color-rhino-core !important;
      font-weight: bold !important;
      font-size:12px;
      padding: 0 $unit;
      border-radius: 8px;
      display: inline-block;
      text-shadow: none;
      margin-left:$unit;
      box-shadow: $drop-shadow-pressed;
      background-image: none !important; // remove underline
    }
  }
}